<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/amor-4.11.90.tar.xz">amor-4.11.90</a></td>
   <td align="right">169kB</td>
   <td><tt>0bf8f27b4a567f4c600d5ad4da2363e2fbd33c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/analitza-4.11.90.tar.xz">analitza-4.11.90</a></td>
   <td align="right">175kB</td>
   <td><tt>0e4a31c15146035c4a516701d4b751f868a326f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ark-4.11.90.tar.xz">ark-4.11.90</a></td>
   <td align="right">224kB</td>
   <td><tt>bbb49df4efad96520ce8c0ce7d04e445f8d2047e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/audiocd-kio-4.11.90.tar.xz">audiocd-kio-4.11.90</a></td>
   <td align="right">49kB</td>
   <td><tt>1a2f3a106ea4b15383a456590f72bf3d43977af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/blinken-4.11.90.tar.xz">blinken-4.11.90</a></td>
   <td align="right">546kB</td>
   <td><tt>72f405fdb2a71cb6524fdcb0a86def398e3ea659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/bomber-4.11.90.tar.xz">bomber-4.11.90</a></td>
   <td align="right">376kB</td>
   <td><tt>ad4a3339942f375dceb254c15df6810a57bcc1e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/bovo-4.11.90.tar.xz">bovo-4.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>a3a7a2c1f82a74acd050db207c41d74b3903965d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/cantor-4.11.90.tar.xz">cantor-4.11.90</a></td>
   <td align="right">321kB</td>
   <td><tt>db96049ea92277967992ddc6f725e16a5afdd6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/cervisia-4.11.90.tar.xz">cervisia-4.11.90</a></td>
   <td align="right">359kB</td>
   <td><tt>b5eb1863e0899a499ba43a74a7d1cb1fe87d0d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/dolphin-plugins-4.11.90.tar.xz">dolphin-plugins-4.11.90</a></td>
   <td align="right">54kB</td>
   <td><tt>ce598e8acfc8b4746c223e6cc8996f93897d93b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/dragon-4.11.90.tar.xz">dragon-4.11.90</a></td>
   <td align="right">381kB</td>
   <td><tt>9c60afa040ab114163463814689e00cd7924bd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ffmpegthumbs-4.11.90.tar.xz">ffmpegthumbs-4.11.90</a></td>
   <td align="right">19kB</td>
   <td><tt>15029b65c9c283c0e511e6801e6e93cc6e5970ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/filelight-4.11.90.tar.xz">filelight-4.11.90</a></td>
   <td align="right">280kB</td>
   <td><tt>d29b289e60752060437294459a32017e5553f678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/granatier-4.11.90.tar.xz">granatier-4.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>79ed41b47755c84d88be0f2facceffc3fb59cf84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/gwenview-4.11.90.tar.xz">gwenview-4.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>60e0fe51e1af14578b3d17dbe637868c8d19db83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/jovie-4.11.90.tar.xz">jovie-4.11.90</a></td>
   <td align="right">370kB</td>
   <td><tt>0843ff8f682265072640c2bd61d0a0277466bdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/juk-4.11.90.tar.xz">juk-4.11.90</a></td>
   <td align="right">418kB</td>
   <td><tt>a24568194db660179f4925e26b2b84f93dcbb8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kaccessible-4.11.90.tar.xz">kaccessible-4.11.90</a></td>
   <td align="right">19kB</td>
   <td><tt>039be552f5d31140e82a274cb48ced6cdd700ade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kactivities-4.11.90.tar.xz">kactivities-4.11.90</a></td>
   <td align="right">84kB</td>
   <td><tt>96af7ed15b7b71abfd9b42b563ec3f0d8b31f61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kajongg-4.11.90.tar.xz">kajongg-4.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f1721b290c1e48a88128ea2cccf0baa0f9a26567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kalgebra-4.11.90.tar.xz">kalgebra-4.11.90</a></td>
   <td align="right">264kB</td>
   <td><tt>89bfd7e341652587e18c1e707c215564b8a7d515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kalzium-4.11.90.tar.xz">kalzium-4.11.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>150f81a51c1a20fe5f2a8d2ce42ab8b1642fc9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kamera-4.11.90.tar.xz">kamera-4.11.90</a></td>
   <td align="right">34kB</td>
   <td><tt>9921a48ef6234eeb40a8c99819e95e537034d2ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kanagram-4.11.90.tar.xz">kanagram-4.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3f9b664255db849b898e4da694da2f954c508979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kapman-4.11.90.tar.xz">kapman-4.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3f3760a1eaf71ed6b96df2eb377953a652c34075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kapptemplate-4.11.90.tar.xz">kapptemplate-4.11.90</a></td>
   <td align="right">680kB</td>
   <td><tt>3b1e9cacacd1085c45cdbcfa0c9d937712666396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kate-4.11.90.tar.xz">kate-4.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5c6cdb8afa86112f2c92091744c343320a81835f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/katomic-4.11.90.tar.xz">katomic-4.11.90</a></td>
   <td align="right">641kB</td>
   <td><tt>3045fc1f60c04b612766b19dbf343d38b82c5f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kblackbox-4.11.90.tar.xz">kblackbox-4.11.90</a></td>
   <td align="right">251kB</td>
   <td><tt>c3f9cf00d9b1d4b2eb311e19809a2529e9478088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kblocks-4.11.90.tar.xz">kblocks-4.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5f86f18db53acd5e268e615adb5949014f2136fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kbounce-4.11.90.tar.xz">kbounce-4.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>34e48c8b076abc97049601a2adc364a6251b3c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kbreakout-4.11.90.tar.xz">kbreakout-4.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>09df1f23703e99da1b0668a80f9cae0378eb6ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kbruch-4.11.90.tar.xz">kbruch-4.11.90</a></td>
   <td align="right">876kB</td>
   <td><tt>af616f134cd8b9513207cbeb81cf16ef70c07cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kcachegrind-4.11.90.tar.xz">kcachegrind-4.11.90</a></td>
   <td align="right">229kB</td>
   <td><tt>e34b253eb54d134d8b3458563245f144a99bec5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kcalc-4.11.90.tar.xz">kcalc-4.11.90</a></td>
   <td align="right">78kB</td>
   <td><tt>d4cb98eb58c0380ea6b24aaa77e87e35a720a678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kcharselect-4.11.90.tar.xz">kcharselect-4.11.90</a></td>
   <td align="right">82kB</td>
   <td><tt>e0bf93753b83003d2dcd0abfe00f179de06f0df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kcolorchooser-4.11.90.tar.xz">kcolorchooser-4.11.90</a></td>
   <td align="right">4kB</td>
   <td><tt>a4ff80f6ef7c94c62e996f31cdfdfe67a4e0b8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kcron-4.11.90.tar.xz">kcron-4.11.90</a></td>
   <td align="right">170kB</td>
   <td><tt>ae63b9b12736af6e080c5ad9388fa04ef2819214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdeartwork-4.11.90.tar.xz">kdeartwork-4.11.90</a></td>
   <td align="right">134MB</td>
   <td><tt>d586772be206057d3745eb56903e1dd3985b507e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-baseapps-4.11.90.tar.xz">kde-baseapps-4.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9cfc0a8319884f648eedc25c9566a5fe238a11dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-base-artwork-4.11.90.tar.xz">kde-base-artwork-4.11.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>340e801c682988343284497657e36341517ad0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-dev-scripts-4.11.90.tar.xz">kde-dev-scripts-4.11.90</a></td>
   <td align="right">251kB</td>
   <td><tt>406a61e1070a2d27430d0d5dea7c4235f71861da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-dev-utils-4.11.90.tar.xz">kde-dev-utils-4.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>394819879fda8f6bb9292ecae796d87e5d9ee4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdegraphics-mobipocket-4.11.90.tar.xz">kdegraphics-mobipocket-4.11.90</a></td>
   <td align="right">14kB</td>
   <td><tt>f9b053ee6c4536db59918b275383556290de9e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdegraphics-strigi-analyzer-4.11.90.tar.xz">kdegraphics-strigi-analyzer-4.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>f90f18a261c7fe8b0417d60e4c5690d430e46010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdegraphics-thumbnailers-4.11.90.tar.xz">kdegraphics-thumbnailers-4.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>3553ab2d1da69de5d33c205d583a6dabbd774218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdelibs-4.11.90.tar.xz">kdelibs-4.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>e576c717a18aebd1c421f43a2ae46988a3a15e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdenetwork-filesharing-4.11.90.tar.xz">kdenetwork-filesharing-4.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>bc878b2a473d3dcaf3ae128d0146b55c23d4b78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdenetwork-strigi-analyzers-4.11.90.tar.xz">kdenetwork-strigi-analyzers-4.11.90</a></td>
   <td align="right">14kB</td>
   <td><tt>ba0f67d0c8106a3937c29e790fc01107054b9043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdepim-4.11.90.tar.xz">kdepim-4.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>2cb5631e7701744da178970592fa27d8e97ed423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdepimlibs-4.11.90.tar.xz">kdepimlibs-4.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>19f212b1af6c8f02e0e705179b5b5239c8ed9229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdepim-runtime-4.11.90.tar.xz">kdepim-runtime-4.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>45449c8ccf93d8cdeb33a6bd20ec2a56700ec772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdeplasma-addons-4.11.90.tar.xz">kdeplasma-addons-4.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>60383d3984599cf19fe31f8cc0d32f1e3eeaef9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-runtime-4.11.90.tar.xz">kde-runtime-4.11.90</a></td>
   <td align="right">7.4MB</td>
   <td><tt>9f91d3023ba626d67883867df7ab76bdcdf19043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdesdk-kioslaves-4.11.90.tar.xz">kdesdk-kioslaves-4.11.90</a></td>
   <td align="right">352kB</td>
   <td><tt>5f09fb14d2ebab046bfe2b041ba2de000db8acd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdesdk-strigi-analyzers-4.11.90.tar.xz">kdesdk-strigi-analyzers-4.11.90</a></td>
   <td align="right">17kB</td>
   <td><tt>3d6a4878b28e38df8ead56cfba1d97d6bb3f670b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdesdk-thumbnailers-4.11.90.tar.xz">kdesdk-thumbnailers-4.11.90</a></td>
   <td align="right">11kB</td>
   <td><tt>002d1603cc1d6d37a9c12e1776c56f9474746604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-wallpapers-4.11.90.tar.xz">kde-wallpapers-4.11.90</a></td>
   <td align="right">86MB</td>
   <td><tt>dbd2c0e58101f8938766674109ada3462f57131e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdewebdev-4.11.90.tar.xz">kdewebdev-4.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d4d45a0b08556ab467bb9d0c4e796064e3b73bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdf-4.11.90.tar.xz">kdf-4.11.90</a></td>
   <td align="right">145kB</td>
   <td><tt>26f274c98bddfdf5bfc9b02e35d76e38284a01a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdiamond-4.11.90.tar.xz">kdiamond-4.11.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5d233747e5f33bb9cd6563e08fd7208af8c5c5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kdnssd-4.11.90.tar.xz">kdnssd-4.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>ae90e717ceabcb3b2c26ddd98c3e74ef8876319e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kfloppy-4.11.90.tar.xz">kfloppy-4.11.90</a></td>
   <td align="right">51kB</td>
   <td><tt>ac922c3bad7872575a02198448d620186ffeabf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kfourinline-4.11.90.tar.xz">kfourinline-4.11.90</a></td>
   <td align="right">275kB</td>
   <td><tt>fc4283e7f78da84cd41b311d7546e11c8fb57323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kgamma-4.11.90.tar.xz">kgamma-4.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>e980761176ca97a8b40801689515351b2cc86071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kgeography-4.11.90.tar.xz">kgeography-4.11.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>9b6d0c79a99a68da8983439f7d9333c4647309da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kget-4.11.90.tar.xz">kget-4.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>038b7ac53c574dbc795eaad023048fc7201bad78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kgoldrunner-4.11.90.tar.xz">kgoldrunner-4.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ffed2fe17a6a4aa4ec6176cad116ac7203952f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kgpg-4.11.90.tar.xz">kgpg-4.11.90</a></td>
   <td align="right">784kB</td>
   <td><tt>abe959da38f860ade45ef1145ff8956e9079815b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/khangman-4.11.90.tar.xz">khangman-4.11.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>a0e52f36666f5c2fdffafcbdfae40416dbb8ee84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kig-4.11.90.tar.xz">kig-4.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>eea6292c9b02200f99d90920a9812b9916a6abf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kigo-4.11.90.tar.xz">kigo-4.11.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>deb6d4345bd9405ff9c968e7a97455529854d72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/killbots-4.11.90.tar.xz">killbots-4.11.90</a></td>
   <td align="right">938kB</td>
   <td><tt>a70078dd6b62fbaa129febc578bb4919a49b9508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kimono-4.11.90.tar.xz">kimono-4.11.90</a></td>
   <td align="right">910kB</td>
   <td><tt>0d5a55fabebe1240d9c29b3d1a705f15454c0151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kiriki-4.11.90.tar.xz">kiriki-4.11.90</a></td>
   <td align="right">114kB</td>
   <td><tt>fcb927fac572f58620764bb6208e1473a0786e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kiten-4.11.90.tar.xz">kiten-4.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>c58f77db2f8612b0f725193fd0ddb877d1599f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kjumpingcube-4.11.90.tar.xz">kjumpingcube-4.11.90</a></td>
   <td align="right">159kB</td>
   <td><tt>9652ba731837ea4a8d2ee9cb44d1cadb170ab5fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/klettres-4.11.90.tar.xz">klettres-4.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>9afa7f9658cbf238b09b18c23394cc77ff851f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/klickety-4.11.90.tar.xz">klickety-4.11.90</a></td>
   <td align="right">765kB</td>
   <td><tt>24bb66776be7b5e077feccf9718b90aa051551c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/klines-4.11.90.tar.xz">klines-4.11.90</a></td>
   <td align="right">927kB</td>
   <td><tt>dc4fcc52873c518dc359805b59bbe188d9aea492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmag-4.11.90.tar.xz">kmag-4.11.90</a></td>
   <td align="right">84kB</td>
   <td><tt>d4756a869a27fc3b3bc8af265e5d3628579b7352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmahjongg-4.11.90.tar.xz">kmahjongg-4.11.90</a></td>
   <td align="right">979kB</td>
   <td><tt>42584448b6b9827062992a29084469697a49b345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmines-4.11.90.tar.xz">kmines-4.11.90</a></td>
   <td align="right">613kB</td>
   <td><tt>93fe88929842752152713bfc5517fa054a648234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmix-4.11.90.tar.xz">kmix-4.11.90</a></td>
   <td align="right">371kB</td>
   <td><tt>2f63858e7d5c45c1cc16b98abee05d000f09dfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmousetool-4.11.90.tar.xz">kmousetool-4.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>15966bc00be920b63ed370eb6bfabcd98b715e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmouth-4.11.90.tar.xz">kmouth-4.11.90</a></td>
   <td align="right">300kB</td>
   <td><tt>8cb2157dbf00ffa54084cff3e32036846c872f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kmplot-4.11.90.tar.xz">kmplot-4.11.90</a></td>
   <td align="right">639kB</td>
   <td><tt>0dd062797965df7d518c1f2b61d9eef823b216cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/knavalbattle-4.11.90.tar.xz">knavalbattle-4.11.90</a></td>
   <td align="right">828kB</td>
   <td><tt>d21f1c2b61484f39bb6fa736943dd6e34a59b54b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/knetwalk-4.11.90.tar.xz">knetwalk-4.11.90</a></td>
   <td align="right">763kB</td>
   <td><tt>96321a5c39a6df054671df4c66c916e2642d0dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kolf-4.11.90.tar.xz">kolf-4.11.90</a></td>
   <td align="right">747kB</td>
   <td><tt>d25d7a27785483e5aec4883098aae087a9a515b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kollision-4.11.90.tar.xz">kollision-4.11.90</a></td>
   <td align="right">202kB</td>
   <td><tt>6037b8d8944206a913373e5ac6d6b48565036661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kolourpaint-4.11.90.tar.xz">kolourpaint-4.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9d96c692a7bc6210f3234d02930ad064b09e77bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kompare-4.11.90.tar.xz">kompare-4.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>eac9531959a72b9e17d9de3dc9fd9b96046a600f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/konquest-4.11.90.tar.xz">konquest-4.11.90</a></td>
   <td align="right">406kB</td>
   <td><tt>74fe34f1321750228a41b21785ceaaa85be8c894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/konsole-4.11.90.tar.xz">konsole-4.11.90</a></td>
   <td align="right">440kB</td>
   <td><tt>5281a405cf7f8b2f7036f689f3dda638756c48c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kopete-4.11.90.tar.xz">kopete-4.11.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>9cef116e20d27a393f218499af4a1143573aedd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/korundum-4.11.90.tar.xz">korundum-4.11.90</a></td>
   <td align="right">156kB</td>
   <td><tt>64597800b39f8e899ed7c27668da401a494c7b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kpat-4.11.90.tar.xz">kpat-4.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>727012a2d7dc646c16372bfdd80c97d6a192e7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kppp-4.11.90.tar.xz">kppp-4.11.90</a></td>
   <td align="right">680kB</td>
   <td><tt>c4c09eb19ddd9336f65f486eedde278b921aa2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/krdc-4.11.90.tar.xz">krdc-4.11.90</a></td>
   <td align="right">388kB</td>
   <td><tt>523fc8fea05d444924ebb376a8a4225bab8e565e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kremotecontrol-4.11.90.tar.xz">kremotecontrol-4.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d4deba3fb23bff49bb81afad32bdef6c5eab4af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kreversi-4.11.90.tar.xz">kreversi-4.11.90</a></td>
   <td align="right">353kB</td>
   <td><tt>f49603690bdd90a16616b6f90698faa0aa8827cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/krfb-4.11.90.tar.xz">krfb-4.11.90</a></td>
   <td align="right">456kB</td>
   <td><tt>d7dc8ca5ec67d723378d57fefcd5ebccf82f3b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kross-interpreters-4.11.90.tar.xz">kross-interpreters-4.11.90</a></td>
   <td align="right">127kB</td>
   <td><tt>6670af957caf5f266dd3c172ae31ccc5279564bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kruler-4.11.90.tar.xz">kruler-4.11.90</a></td>
   <td align="right">125kB</td>
   <td><tt>c53490dab6332e2248c4b4353d5e7804280d2d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksaneplugin-4.11.90.tar.xz">ksaneplugin-4.11.90</a></td>
   <td align="right">12kB</td>
   <td><tt>a1d55dbe4b9a1f255f42d0bf304a6c4b645605ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kscd-4.11.90.tar.xz">kscd-4.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>23da40a31e6dfc63caceeef1942f5eb9557b7ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kshisen-4.11.90.tar.xz">kshisen-4.11.90</a></td>
   <td align="right">132kB</td>
   <td><tt>cdbea42d361a2216107a9f5b36a98396c0673177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksirk-4.11.90.tar.xz">ksirk-4.11.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>be0990b382d09463019c00f718c391783871092c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksnakeduel-4.11.90.tar.xz">ksnakeduel-4.11.90</a></td>
   <td align="right">312kB</td>
   <td><tt>3b2a87708b3813dfd12457762432f2c407f537b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksnapshot-4.11.90.tar.xz">ksnapshot-4.11.90</a></td>
   <td align="right">251kB</td>
   <td><tt>977eab59f788239fd3cd5874b91364c91127d95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kspaceduel-4.11.90.tar.xz">kspaceduel-4.11.90</a></td>
   <td align="right">246kB</td>
   <td><tt>b7d363ea1126a2c2f568145b4871754fdfe8d6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksquares-4.11.90.tar.xz">ksquares-4.11.90</a></td>
   <td align="right">77kB</td>
   <td><tt>3fc435a840f032431ccbca00dc92b02abcb3bc7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kstars-4.11.90.tar.xz">kstars-4.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>3611a656a759b81eb8963e7bcc34bc8b559200dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksudoku-4.11.90.tar.xz">ksudoku-4.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f7b5f1e83474490179b85938447238c78513205b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ksystemlog-4.11.90.tar.xz">ksystemlog-4.11.90</a></td>
   <td align="right">373kB</td>
   <td><tt>763f622af8c689353eaa6993780e721e4f13cf4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kteatime-4.11.90.tar.xz">kteatime-4.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>db5ba6bf779f0f4bda6180260b4d46a63c68d06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ktimer-4.11.90.tar.xz">ktimer-4.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>531c7dc9e89186cff4dd956852f369f7b85da035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ktouch-4.11.90.tar.xz">ktouch-4.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>806c53321cbeb407e7278a15751ddc17412eb71f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ktuberling-4.11.90.tar.xz">ktuberling-4.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>93827554dd36873673999e53acef92e4e729b111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kturtle-4.11.90.tar.xz">kturtle-4.11.90</a></td>
   <td align="right">183kB</td>
   <td><tt>ccd002eb5a8e45cde850239d6dbd878774f0fb3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/ktux-4.11.90.tar.xz">ktux-4.11.90</a></td>
   <td align="right">106kB</td>
   <td><tt>951e9d049ecacfa3f84ba867206edf494f7ddfcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kubrick-4.11.90.tar.xz">kubrick-4.11.90</a></td>
   <td align="right">104kB</td>
   <td><tt>228d95d82dff43d73b33bf58c5ad3d1370a9b534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kuser-4.11.90.tar.xz">kuser-4.11.90</a></td>
   <td align="right">131kB</td>
   <td><tt>9b432d3ee2a1be11ada4624fa84766e56cfbfd44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kwallet-4.11.90.tar.xz">kwallet-4.11.90</a></td>
   <td align="right">377kB</td>
   <td><tt>67aa3dae42d61daf216754498c808852b23f5086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kwordquiz-4.11.90.tar.xz">kwordquiz-4.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2b33f52c51cbf86228de30f234f7994f61c228ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkcddb-4.11.90.tar.xz">libkcddb-4.11.90</a></td>
   <td align="right">154kB</td>
   <td><tt>0328eefc0ffd03ae7376fc06eb2b2fbec48b45d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkcompactdisc-4.11.90.tar.xz">libkcompactdisc-4.11.90</a></td>
   <td align="right">73kB</td>
   <td><tt>00311c96737bee50af0ef0594c45ea68539a0189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkdcraw-4.11.90.tar.xz">libkdcraw-4.11.90</a></td>
   <td align="right">97kB</td>
   <td><tt>526924658402caabccc1d17e285f189aadf804e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkdeedu-4.11.90.tar.xz">libkdeedu-4.11.90</a></td>
   <td align="right">204kB</td>
   <td><tt>7360e9591fd9dd1f30ac110d72bdcefa55cc02a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkdegames-4.11.90.tar.xz">libkdegames-4.11.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>d81dc38e25ae2ef034536d4e2c802ea2b4b733ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkexiv2-4.11.90.tar.xz">libkexiv2-4.11.90</a></td>
   <td align="right">132kB</td>
   <td><tt>24ed2568d6ef1136e30541d108f2600faedfb473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkipi-4.11.90.tar.xz">libkipi-4.11.90</a></td>
   <td align="right">92kB</td>
   <td><tt>985e4155ffb374637eae256d8fb4f7e4175275af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkmahjongg-4.11.90.tar.xz">libkmahjongg-4.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>65d77f1a71d111bd5ccddc3a1b420a43e597873d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libkomparediff2-4.11.90.tar.xz">libkomparediff2-4.11.90</a></td>
   <td align="right">33kB</td>
   <td><tt>4545aef6610fc706d35542b4cdff38b6433bb579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/libksane-4.11.90.tar.xz">libksane-4.11.90</a></td>
   <td align="right">78kB</td>
   <td><tt>85473294cfc12e4f026d9089e54526fa51d7983a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/lokalize-4.11.90.tar.xz">lokalize-4.11.90</a></td>
   <td align="right">826kB</td>
   <td><tt>279f0a54733c03717db0cf7ca0bb7339ff2060e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/lskat-4.11.90.tar.xz">lskat-4.11.90</a></td>
   <td align="right">907kB</td>
   <td><tt>71a995c3c7d3a154b510245394720de0a32fc247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/marble-4.11.90.tar.xz">marble-4.11.90</a></td>
   <td align="right">17MB</td>
   <td><tt>ed395a6baafe507953b0057f25c52c57165349c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/mplayerthumbs-4.11.90.tar.xz">mplayerthumbs-4.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>986bf44e6a29f3cf33d9c724deefa2c94a232cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/nepomuk-core-4.11.90.tar.xz">nepomuk-core-4.11.90</a></td>
   <td align="right">370kB</td>
   <td><tt>1e96d1a95c54bc7266ff7f60118e03545eaf5ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/nepomuk-widgets-4.11.90.tar.xz">nepomuk-widgets-4.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>5d3751914c855a842ce075021d889fa3a62aaef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/okteta-4.11.90.tar.xz">okteta-4.11.90</a></td>
   <td align="right">481kB</td>
   <td><tt>3acbccb4e8a089dc51ce4ec47e72b2592c7fd7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/okular-4.11.90.tar.xz">okular-4.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0864ac4715c7bcd8c4d9acc3e73e95233cbe7b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/oxygen-icons-4.11.90.tar.xz">oxygen-icons-4.11.90</a></td>
   <td align="right">219MB</td>
   <td><tt>4a567dddb9df2060f4f6799a77c3646ee03d74bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/pairs-4.11.90.tar.xz">pairs-4.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6dc5c23f376da68f08f3311a1561a4958c2d6d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/palapeli-4.11.90.tar.xz">palapeli-4.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b5a9f12da4328887236234d56c31861f16c58bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/parley-4.11.90.tar.xz">parley-4.11.90</a></td>
   <td align="right">7.6MB</td>
   <td><tt>72d17aff9ee5bd47d06355e70c3534958f49fb21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/perlkde-4.11.90.tar.xz">perlkde-4.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>95a7cde48f64cb76ace17d2217b0bd0457be6e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/perlqt-4.11.90.tar.xz">perlqt-4.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>26b354b98de04294020df3be99a202cb67d560eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/picmi-4.11.90.tar.xz">picmi-4.11.90</a></td>
   <td align="right">712kB</td>
   <td><tt>8a397b8e430cdb8c8801226859e84106d840cbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/poxml-4.11.90.tar.xz">poxml-4.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>968f090a9d26a632ea6e655de414a0ee3495e9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/print-manager-4.11.90.tar.xz">print-manager-4.11.90</a></td>
   <td align="right">89kB</td>
   <td><tt>d5b7f4e7d4f0bf468c82e8ee23723af551ae2fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/pykde4-4.11.90.tar.xz">pykde4-4.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2f782bee213e68b8b5b46c304a851ae27fe5696c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/qtruby-4.11.90.tar.xz">qtruby-4.11.90</a></td>
   <td align="right">517kB</td>
   <td><tt>92aa771e581202ad1af49368f26f641e6e274cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/qyoto-4.11.90.tar.xz">qyoto-4.11.90</a></td>
   <td align="right">495kB</td>
   <td><tt>4d57a5628bec9cc726fd426d30691ae261e40730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/rocs-4.11.90.tar.xz">rocs-4.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fc1c6c4cd2f8f6b5daf6e8d7f301ffbb792c05e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/smokegen-4.11.90.tar.xz">smokegen-4.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>c90c4b82338d613c5ec2b868fd066e0bbea52b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/smokekde-4.11.90.tar.xz">smokekde-4.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>b28dac17af1020d01cb039f02b1576af2fc0a0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/smokeqt-4.11.90.tar.xz">smokeqt-4.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>25ad75f98f5db89051f0fdfeaaaa8d6c7db86d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/step-4.11.90.tar.xz">step-4.11.90</a></td>
   <td align="right">353kB</td>
   <td><tt>c85fdca11d4264a53c97e4c31357b8a132c0b6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/superkaramba-4.11.90.tar.xz">superkaramba-4.11.90</a></td>
   <td align="right">374kB</td>
   <td><tt>3061938587ec9bfce1d51c61851adcacafd425af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/svgpart-4.11.90.tar.xz">svgpart-4.11.90</a></td>
   <td align="right">8kB</td>
   <td><tt>06fcc173fa0ff334fe89a947ccec1db0ebc0e2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/sweeper-4.11.90.tar.xz">sweeper-4.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>21ae3b4a8828455297373f9a14b97715113365c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/umbrello-4.11.90.tar.xz">umbrello-4.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>215c9dfe5792e915ce16df94899303267290df56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ar-4.11.90.tar.xz">kde-l10n-ar-4.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>202a04a3c01295c629eb654dc38fad62c01ebffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-bg-4.11.90.tar.xz">kde-l10n-bg-4.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>739039976632676dff9674fa2fbe109572d94409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-bs-4.11.90.tar.xz">kde-l10n-bs-4.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cd674848f463f7f39ae417ba7f0a75770cac2c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ca-4.11.90.tar.xz">kde-l10n-ca-4.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>1ec03a288ef861e1cb390b712aa5e6ef7c3e8dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ca@valencia-4.11.90.tar.xz">kde-l10n-ca@valencia-4.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d94b80feeb72266f88b8e7308de1e8b7a45c275b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-cs-4.11.90.tar.xz">kde-l10n-cs-4.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>cb6f98e1958030a8a48a7f6bc847aeb3c033bbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-da-4.11.90.tar.xz">kde-l10n-da-4.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>a895434a99967bffd90bc0cae025267d8fbf79bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-de-4.11.90.tar.xz">kde-l10n-de-4.11.90</a></td>
   <td align="right">34MB</td>
   <td><tt>dc64d98c4f7fc6448b0030fb0161e4e754719e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-el-4.11.90.tar.xz">kde-l10n-el-4.11.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>33d0893b0dcef53976712894ee8bf94f096f1f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-en_GB-4.11.90.tar.xz">kde-l10n-en_GB-4.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d0907870d732201f0f931effe073ad93ac635eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-es-4.11.90.tar.xz">kde-l10n-es-4.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>83c688d68d96f49cdadd91ae898a27bce12414bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-et-4.11.90.tar.xz">kde-l10n-et-4.11.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>9b21305126ebc42af9d772e0635115e178adfdc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-eu-4.11.90.tar.xz">kde-l10n-eu-4.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>af7d1049e741ac068073a2ca5b8a747823762c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-fa-4.11.90.tar.xz">kde-l10n-fa-4.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cff52f5ed3edee4ac369ff235e2a80b73c8956f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-fi-4.11.90.tar.xz">kde-l10n-fi-4.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>35a58d6cf36ebdf3e68bf57ea2ef5cbe16a1500b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-fr-4.11.90.tar.xz">kde-l10n-fr-4.11.90</a></td>
   <td align="right">43MB</td>
   <td><tt>952a1173cd456b6323ca3c45ac9052356fc1b1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ga-4.11.90.tar.xz">kde-l10n-ga-4.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b33900c255b03c464e1804f277a3300b9cde9bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-gl-4.11.90.tar.xz">kde-l10n-gl-4.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ddaa6fe4fde426adccd9fa1e5c9320c63ffef1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-he-4.11.90.tar.xz">kde-l10n-he-4.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>400cce03edce008a675393c16abf584e3babd8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-hi-4.11.90.tar.xz">kde-l10n-hi-4.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>acd98d694792beeeb7adca1497c58b3e48b8d17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-hr-4.11.90.tar.xz">kde-l10n-hr-4.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>cbadecc98c2df9d69ff43072b8205448a7618320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-hu-4.11.90.tar.xz">kde-l10n-hu-4.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7f1c0d90ccc2f64fbf69a0507bc3eaf67170e427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ia-4.11.90.tar.xz">kde-l10n-ia-4.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f9ebc0705dd827b3d29fd738433146646e526ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-is-4.11.90.tar.xz">kde-l10n-is-4.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d84177ca4fe980d5e3f738c7f1d26ef551f74b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-it-4.11.90.tar.xz">kde-l10n-it-4.11.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>97827571179299284f3e022f750c8cea475dd10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ja-4.11.90.tar.xz">kde-l10n-ja-4.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c72d7f9ac82d6fbd1b62380e3eb1b86f2f2ef568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-kk-4.11.90.tar.xz">kde-l10n-kk-4.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2fa733d56f6f4ec639f47d6340d951da92359544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-km-4.11.90.tar.xz">kde-l10n-km-4.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>65f7cf85042659376776120e8d3a9d31c4cd7584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ko-4.11.90.tar.xz">kde-l10n-ko-4.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7989d56998a6b50f6cdbaa61a4b7e63f7e5638dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-lt-4.11.90.tar.xz">kde-l10n-lt-4.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>410479aad0e7d61ea366b19397300380f9f2124b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-lv-4.11.90.tar.xz">kde-l10n-lv-4.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>873b83845f46d0e35123f78f568e5502c4639b5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-mr-4.11.90.tar.xz">kde-l10n-mr-4.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>70b97bbbf34f0f71f84438fc167358fb86f1b7c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-nb-4.11.90.tar.xz">kde-l10n-nb-4.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>432a4840c6d6c8ec59e0d8af0831f780bfcfca25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-nds-4.11.90.tar.xz">kde-l10n-nds-4.11.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>376d29c2fbef79b155083e62b5e8c636c9682475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-nl-4.11.90.tar.xz">kde-l10n-nl-4.11.90</a></td>
   <td align="right">13MB</td>
   <td><tt>ba4d0c63fa2ad544d7aec711a66dce77c0ea17bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-nn-4.11.90.tar.xz">kde-l10n-nn-4.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1dd174f9e3f54e96e0955b4f7ca2d5802ee93b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-pa-4.11.90.tar.xz">kde-l10n-pa-4.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2366d199d9ed8d92423fbd7a86278e29f9868af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-pl-4.11.90.tar.xz">kde-l10n-pl-4.11.90</a></td>
   <td align="right">16MB</td>
   <td><tt>8a8787a45394096634c36ce675fe865cd2d96c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-pt-4.11.90.tar.xz">kde-l10n-pt-4.11.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>92cbbf7d764f4347e7d4b9e444f45cebcd430f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-pt_BR-4.11.90.tar.xz">kde-l10n-pt_BR-4.11.90</a></td>
   <td align="right">23MB</td>
   <td><tt>e47e506a60c8f08880a0d8d9bcde100212f3d62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ro-4.11.90.tar.xz">kde-l10n-ro-4.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0df3669f2b66f918c1bcd8d1dbbf822d1b86dafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ru-4.11.90.tar.xz">kde-l10n-ru-4.11.90</a></td>
   <td align="right">21MB</td>
   <td><tt>c2652e682cfdcb8ea3269e4845ab3094ca5a32e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-sk-4.11.90.tar.xz">kde-l10n-sk-4.11.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>dedbc9c70d48c620e21915e06ec961ed538bb878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-sl-4.11.90.tar.xz">kde-l10n-sl-4.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3c0c3c9960e0cea0e358d5f6d7902e60c72d5d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-sr-4.11.90.tar.xz">kde-l10n-sr-4.11.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>94482184ab307b0c7c53ac4802a7db24f9f536c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-sv-4.11.90.tar.xz">kde-l10n-sv-4.11.90</a></td>
   <td align="right">13MB</td>
   <td><tt>c21c722fb0859024104c4df867055ed45e78ed90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-tg-4.11.90.tar.xz">kde-l10n-tg-4.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>677ee0b6dfb89ee1186f901c2a7e0163df3ec7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-tr-4.11.90.tar.xz">kde-l10n-tr-4.11.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>100d00095c09738315682175756d6abe03f230ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-ug-4.11.90.tar.xz">kde-l10n-ug-4.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b08a9799161f174ac6a5a6dc620108121e6fc96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-uk-4.11.90.tar.xz">kde-l10n-uk-4.11.90</a></td>
   <td align="right">24MB</td>
   <td><tt>38492fac92b40ff0082e0996300861c2732094c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-vi-4.11.90.tar.xz">kde-l10n-vi-4.11.90</a></td>
   <td align="right">921kB</td>
   <td><tt>323d87be099271477d22baaf623873c36c6c7476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-wa-4.11.90.tar.xz">kde-l10n-wa-4.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1c90d306abdb169803ed0bf1e1d5341c81dcd565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-zh_CN-4.11.90.tar.xz">kde-l10n-zh_CN-4.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>27a70f5532ef70456b3804b496f259f82c43d035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.90/src/kde-l10n/kde-l10n-zh_TW-4.11.90.tar.xz">kde-l10n-zh_TW-4.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d277af4e207625c9bbc30e66e0c6909ab66b4235</tt></td>
</tr>

</table>
