<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeaccessibility-4.3.1.tar.bz2">kdeaccessibility-4.3.1</a></td><td align="right">6.3MB</td><td><tt>bc9c56beb161ddf6c1474d356360ec75db0733bc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeadmin-4.3.1.tar.bz2">kdeadmin-4.3.1</a></td><td align="right">1.8MB</td><td><tt>032933e521004046a46a7a3c01b5a03b2d6e75d4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeartwork-4.3.1.tar.bz2">kdeartwork-4.3.1</a></td><td align="right">63MB</td><td><tt>9db5c69723bdc9f203e4f854d505c0f87a6dda0d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdebase-4.3.1.tar.bz2">kdebase-4.3.1</a></td><td align="right">4.1MB</td><td><tt>005681277615a0a3ec737bdd07989763fa1ae781</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdebase-runtime-4.3.1.tar.bz2">kdebase-runtime-4.3.1</a></td><td align="right">7.0MB</td><td><tt>4cb7a4ed093bacf01d5ecff1cbc60a8934dea59c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdebase-workspace-4.3.1.tar.bz2">kdebase-workspace-4.3.1</a></td><td align="right">60MB</td><td><tt>c21a6e8028aa993878cccccb26b2611b3337eac9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdebindings-4.3.1.tar.bz2">kdebindings-4.3.1</a></td><td align="right">4.7MB</td><td><tt>bb414b1ab28b51d9bbbfaa2d9c8474b27c325c32</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeedu-4.3.1.tar.bz2">kdeedu-4.3.1</a></td><td align="right">56MB</td><td><tt>6326cff7779dfadc1b18a3a6bbe7b0750fb7ceaf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdegames-4.3.1.tar.bz2">kdegames-4.3.1</a></td><td align="right">49MB</td><td><tt>576255ce66a0c089e0840bd90ea89d5705872bc8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdegraphics-4.3.1.tar.bz2">kdegraphics-4.3.1</a></td><td align="right">3.5MB</td><td><tt>d57d9007b95607c0ee925cc963d7e14798fc69f9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdelibs-4.3.1.tar.bz2">kdelibs-4.3.1</a></td><td align="right">11MB</td><td><tt>511532852caca9302c643fded4013ef1f57d5433</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdelibs-experimental-4.3.1.tar.bz2">kdelibs-experimental-4.3.1</a></td><td align="right">28KB</td><td><tt>7d560817a186c4b7099d321ee4a58705962a59d3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdemultimedia-4.3.1.tar.bz2">kdemultimedia-4.3.1</a></td><td align="right">1.6MB</td><td><tt>ef50f869f1a6cdf91fe7808f095fccbd9463a7dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdenetwork-4.3.1.tar.bz2">kdenetwork-4.3.1</a></td><td align="right">7.1MB</td><td><tt>57194b5f89b37329e562951c491fa18029c0b431</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdepim-4.3.1.tar.bz2">kdepim-4.3.1</a></td><td align="right">11MB</td><td><tt>6fd0309dbd911e2667ec1c08d1f10f2626a54534</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdepimlibs-4.3.1.tar.bz2">kdepimlibs-4.3.1</a></td><td align="right">1.7MB</td><td><tt>f4b04b21a6aa3accc530bc6c32cf0d820c611265</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdepim-runtime-4.3.1.tar.bz2">kdepim-runtime-4.3.1</a></td><td align="right">728KB</td><td><tt>c39b0fc1d3721fb8c6074ba6a174ad8716c6c604</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeplasma-addons-4.3.1.tar.bz2">kdeplasma-addons-4.3.1</a></td><td align="right">1.4MB</td><td><tt>83421181dd3a80c4ac0ff5bab111b7f71f6a1192</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdesdk-4.3.1.tar.bz2">kdesdk-4.3.1</a></td><td align="right">5.4MB</td><td><tt>ded236a12002b824f97856ce5dc882161ed437d2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdetoys-4.3.1.tar.bz2">kdetoys-4.3.1</a></td><td align="right">1.3MB</td><td><tt>31a60deafef34a02fb7de5339eed1c750a456d3b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdeutils-4.3.1.tar.bz2">kdeutils-4.3.1</a></td><td align="right">2.5MB</td><td><tt>9743636306cfb137241b6c87f5944e6bf91870fe</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/kdewebdev-4.3.1.tar.bz2">kdewebdev-4.3.1</a></td><td align="right">2.5MB</td><td><tt>28580c6f283fa7a6405f6a4415ebe9a4167f0992</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.1/src/oxygen-icons-4.3.1.tar.bz2">oxygen-icons-4.3.1</a></td><td align="right">110MB</td><td><tt>75a82d2e80d946333f63e32db56767c3ed17ba33</tt></td></tr>
</table>
