<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/bluedevil-5.7.95.tar.xz">bluedevil-5.7.95</a></td>
   <td align="right">137kB</td>
   <td><tt>9ec94e4f25ac64aca61d2bf2dc8c597f6b6fedf141001b0908f7f918d4f37be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/breeze-5.7.95.tar.xz">breeze-5.7.95</a></td>
   <td align="right">31MB</td>
   <td><tt>07beea6e26040e18a673f3a3e46e02a3c5aafba68206c25a2ddaf379a1c2b856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/breeze-grub-5.7.95.tar.xz">breeze-grub-5.7.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>72bd4bfcbb2c88dc6ae0bbe65bdd45f53f855f1979a3723f4cfb47ddaac5d670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/breeze-gtk-5.7.95.tar.xz">breeze-gtk-5.7.95</a></td>
   <td align="right">206kB</td>
   <td><tt>5a5ce03d76100559e207fe910fa572d7b351d14c19244d2d34e712ce062ac598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/breeze-plymouth-5.7.95.tar.xz">breeze-plymouth-5.7.95</a></td>
   <td align="right">92kB</td>
   <td><tt>395249f94ccecd2dfca5141e3ee83c4a658fc49ce07c261af51b2b0ee23a6b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/discover-5.7.95.tar.xz">discover-5.7.95</a></td>
   <td align="right">8.7MB</td>
   <td><tt>abdf9f9ab717f5369f5dca112c423e995b5269bfff1a322723c44daf0a951657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kactivitymanagerd-5.7.95.tar.xz">kactivitymanagerd-5.7.95</a></td>
   <td align="right">79kB</td>
   <td><tt>c7a1c5371135d7a59d3083c6df0ababbf573d8323338b4c179a61c7e5d2490bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kde-cli-tools-5.7.95.tar.xz">kde-cli-tools-5.7.95</a></td>
   <td align="right">475kB</td>
   <td><tt>dee0c2c41401ced2ff6d74850dcbf3ac9851d19eaab9f20b6610a466a74999a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kdecoration-5.7.95.tar.xz">kdecoration-5.7.95</a></td>
   <td align="right">34kB</td>
   <td><tt>14ec8e2bf434cd62573d61d70955833b2fbf80f9570ac3afb337117d39f770ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kde-gtk-config-5.7.95.tar.xz">kde-gtk-config-5.7.95</a></td>
   <td align="right">146kB</td>
   <td><tt>17f5406607b6022a434f6b4aae0d046ea861baeb99349f44c294e2c7d2b8db07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kdeplasma-addons-5.7.95.tar.xz">kdeplasma-addons-5.7.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b2f64e38c79a1f36839884572be467bcf35361c3b89f92d2e315966c382cfeb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kgamma5-5.7.95.tar.xz">kgamma5-5.7.95</a></td>
   <td align="right">59kB</td>
   <td><tt>13fe9ecbf4a90a02125bee06041e21ce8d94a8bdad50d6a00fd6d23ccb3ae212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/khotkeys-5.7.95.tar.xz">khotkeys-5.7.95</a></td>
   <td align="right">590kB</td>
   <td><tt>d0ec21569ca39c9617e2a5f358acee57773ca6476d3d39390557040515a77f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kinfocenter-5.7.95.tar.xz">kinfocenter-5.7.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>762e99f2d0f774bad0ffb44b2073d2db2ad31ca4ea32f8db36c4683c331ec137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kmenuedit-5.7.95.tar.xz">kmenuedit-5.7.95</a></td>
   <td align="right">637kB</td>
   <td><tt>6d0bde480ac428670d762b13c0faa6c2a7d41d000edd391d6f49a12ed93a1600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kscreen-5.7.95.tar.xz">kscreen-5.7.95</a></td>
   <td align="right">109kB</td>
   <td><tt>75e5a9ca0aebb7a8d2f6046af0da8e35f35572407e47461bd628efd9e954509c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kscreenlocker-5.7.95.tar.xz">kscreenlocker-5.7.95</a></td>
   <td align="right">105kB</td>
   <td><tt>14166977464d4aa94e5a61a49948e232305b9290245f366e75e662f97acb05ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/ksshaskpass-5.7.95.tar.xz">ksshaskpass-5.7.95</a></td>
   <td align="right">18kB</td>
   <td><tt>cd43f9337cdb6215013fb56b0db6590446d8e90950ef77369e33faa2075605a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/ksysguard-5.7.95.tar.xz">ksysguard-5.7.95</a></td>
   <td align="right">476kB</td>
   <td><tt>cc95acf4336a6d5f74e434bcc21d27df1c2720096c16909ed9ffbc06c67041ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kwallet-pam-5.7.95.tar.xz">kwallet-pam-5.7.95</a></td>
   <td align="right">17kB</td>
   <td><tt>27a6a3d09b44e8110ab3cf0f956148484ccb400bbdca4c7c78f00b82ee4eb29e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kwayland-integration-5.7.95.tar.xz">kwayland-integration-5.7.95</a></td>
   <td align="right">17kB</td>
   <td><tt>1a0752133dd15ab6480b0df4274d4ca46e38b8b2248b9499292abfa654a3bec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kwin-5.7.95.tar.xz">kwin-5.7.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>37d5734afa9fa450d59ee423a60a8e3a738f6a4722cd64c86b725606b80763eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/kwrited-5.7.95.tar.xz">kwrited-5.7.95</a></td>
   <td align="right">19kB</td>
   <td><tt>d81a43f9d40341a3f2fb87682416d5b46ad680f864d7201070e7be0771085cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/libkscreen-5.7.95.tar.xz">libkscreen-5.7.95</a></td>
   <td align="right">90kB</td>
   <td><tt>eb7086e1cf895978e23bd18d3d8021de4e9b4282f0f2c471a041a4f6feea4b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/libksysguard-5.7.95.tar.xz">libksysguard-5.7.95</a></td>
   <td align="right">558kB</td>
   <td><tt>c3c0e100f8309ea0704c5c1757bbef2ff2005e850b2b6da589b26cb9870b8b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/milou-5.7.95.tar.xz">milou-5.7.95</a></td>
   <td align="right">52kB</td>
   <td><tt>c997df39c1e0873cb80170e7d65b074b7f01fefda7b87faf9ea0e9e1c492c6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/oxygen-5.7.95.tar.xz">oxygen-5.7.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>047940a815bd84970fe05180e636df62fcc421d6edf06f8b3252dd1cb4dac30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-desktop-5.7.95.tar.xz">plasma-desktop-5.7.95</a></td>
   <td align="right">6.0MB</td>
   <td><tt>645b8e02d8f3238453111c4731e269352ffdddbb60f79554dd0eabfe482e28ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-integration-5.7.95.tar.xz">plasma-integration-5.7.95</a></td>
   <td align="right">48kB</td>
   <td><tt>734f9db2998843ddc8a5be6b854c521adac05cbe944cea9c4f553b806b83b493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-nm-5.7.95.tar.xz">plasma-nm-5.7.95</a></td>
   <td align="right">625kB</td>
   <td><tt>426463efe7b6ca7eb7626cc84324c8e743a9cf828bc9b5ccd7517bcabeda88c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-pa-5.7.95.tar.xz">plasma-pa-5.7.95</a></td>
   <td align="right">65kB</td>
   <td><tt>c346258e0ab7748a2376e20fba497c4b44bf96053b37780aa9003bdb210a17f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-sdk-5.7.95.tar.xz">plasma-sdk-5.7.95</a></td>
   <td align="right">693kB</td>
   <td><tt>1f7db81c7f33dc4a019f88535b6f3d8951cdfff510688a63184bb14c4537a8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-tests-5.7.95.tar.xz">plasma-tests-5.7.95</a></td>
   <td align="right">1kB</td>
   <td><tt>0748422b3192edcecfbb87fd655e4e6a89ab79b892f870a792323961cc7ce75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-workspace-5.7.95.tar.xz">plasma-workspace-5.7.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c4ed7be1ae8495aab2330f60a8181bb3ad16941f6afb41af269470935c6599c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/plasma-workspace-wallpapers-5.7.95.tar.xz">plasma-workspace-wallpapers-5.7.95</a></td>
   <td align="right">43MB</td>
   <td><tt>000200ba29dee4f00220091971bb585b3d950a42ea20802adfdc3236ea673754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/polkit-kde-agent-1-5.7.95.tar.xz">polkit-kde-agent-1-5.7.95</a></td>
   <td align="right">39kB</td>
   <td><tt>cb0b33db0314be9036af05973eb857cff3b1041b70471e8e03786cf2edb2d644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/powerdevil-5.7.95.tar.xz">powerdevil-5.7.95</a></td>
   <td align="right">347kB</td>
   <td><tt>e3342928bb22464d74107fdd24bad8fdf73aa3d9a2562d5594566d415b4bcf9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/sddm-kcm-5.7.95.tar.xz">sddm-kcm-5.7.95</a></td>
   <td align="right">47kB</td>
   <td><tt>51976df28bb93f37469d5773f50066366493392d8db8bb99674847e5f2c76f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/systemsettings-5.7.95.tar.xz">systemsettings-5.7.95</a></td>
   <td align="right">154kB</td>
   <td><tt>fc8f1852286d5ef65c34a0e3f766accca7dc49d11dc4cd153d2ed6121d28410e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.7.95/user-manager-5.7.95.tar.xz">user-manager-5.7.95</a></td>
   <td align="right">529kB</td>
   <td><tt>62648ebd7112b5352fbc9107b6dd10b369e3556813c6712ad85b9ab7ecf875be</tt></td>
</tr>

</table>
