<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-17.08.2.tar.xz">akonadi-17.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e10bc4e9572cd02836eb790b6ecd4b38a766a5f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-calendar-17.08.2.tar.xz">akonadi-calendar-17.08.2</a></td>
   <td align="right">273kB</td>
   <td><tt>755db0adca446ec7cd1ec846e066d275ebfcef62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-calendar-tools-17.08.2.tar.xz">akonadi-calendar-tools-17.08.2</a></td>
   <td align="right">218kB</td>
   <td><tt>bb6f35029f6c441979953f87ae4fcf1e80a5e87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadiconsole-17.08.2.tar.xz">akonadiconsole-17.08.2</a></td>
   <td align="right">180kB</td>
   <td><tt>6fe1af6d280b8a2797b8ede0c9fc6ca58d32e87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-contacts-17.08.2.tar.xz">akonadi-contacts-17.08.2</a></td>
   <td align="right">344kB</td>
   <td><tt>1f7f5393914eb96d35efbd5f7b5ef0229c7eecf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-import-wizard-17.08.2.tar.xz">akonadi-import-wizard-17.08.2</a></td>
   <td align="right">424kB</td>
   <td><tt>ce9e4c401bbaed00f3468fe896a0198a569582e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-mime-17.08.2.tar.xz">akonadi-mime-17.08.2</a></td>
   <td align="right">127kB</td>
   <td><tt>62f94e179b56d35059433870fb75a4932d703ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-notes-17.08.2.tar.xz">akonadi-notes-17.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>1261b8cbf79bb372a859640bec72841df7191c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akonadi-search-17.08.2.tar.xz">akonadi-search-17.08.2</a></td>
   <td align="right">79kB</td>
   <td><tt>ed7a5cd74aa2f83aea698373f31cbd397a6ed8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/akregator-17.08.2.tar.xz">akregator-17.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6669d7231eaa4d30c70e89b1be840196130e8808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/analitza-17.08.2.tar.xz">analitza-17.08.2</a></td>
   <td align="right">322kB</td>
   <td><tt>cd73dc1644dbaf184cd9987352986743685bb527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ark-17.08.2.tar.xz">ark-17.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e4ab39b9aff48dad5651b8c9c4b28d234178c0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/artikulate-17.08.2.tar.xz">artikulate-17.08.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1513519f8499851bffefc9c97f03f386d61179f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/audiocd-kio-17.08.2.tar.xz">audiocd-kio-17.08.2</a></td>
   <td align="right">241kB</td>
   <td><tt>f0f73f91cc4645b54cbab014f4cc46da935bf537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/baloo-widgets-17.08.2.tar.xz">baloo-widgets-17.08.2</a></td>
   <td align="right">148kB</td>
   <td><tt>56150d0d4344d7b420d8da1925b1eb883a510013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/blinken-17.08.2.tar.xz">blinken-17.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>972a27708d3db85395bafe058881bce69a37e0b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/blogilo-17.08.2.tar.xz">blogilo-17.08.2</a></td>
   <td align="right">785kB</td>
   <td><tt>34a48dbe84ab44bb7f1dba5ad2c837397c807603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/bomber-17.08.2.tar.xz">bomber-17.08.2</a></td>
   <td align="right">736kB</td>
   <td><tt>27c017cf2775452295b8f96c6c9910e28b5e139b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/bovo-17.08.2.tar.xz">bovo-17.08.2</a></td>
   <td align="right">182kB</td>
   <td><tt>98bb2ce0ed09038f16690235ab5673c59db76a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/calendarsupport-17.08.2.tar.xz">calendarsupport-17.08.2</a></td>
   <td align="right">629kB</td>
   <td><tt>145c7a1772413e72609f10e01bc4ea4222736413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/cantor-17.08.2.tar.xz">cantor-17.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>511a07db12302b5d7abaf8c4781f3d5eba21514e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/cervisia-17.08.2.tar.xz">cervisia-17.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>02f77803cad7e2fedb488fb3dbace76cb0c30a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/dolphin-17.08.2.tar.xz">dolphin-17.08.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>81ec0f91efea0e2e9ca2fec6628281fc018dca6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/dolphin-plugins-17.08.2.tar.xz">dolphin-plugins-17.08.2</a></td>
   <td align="right">182kB</td>
   <td><tt>6761af8b86ff4aebc6acb643d0523147e060825a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/dragon-17.08.2.tar.xz">dragon-17.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b1094d84eaa30c1a71699fa02c08602a982fb5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/eventviews-17.08.2.tar.xz">eventviews-17.08.2</a></td>
   <td align="right">423kB</td>
   <td><tt>3166db9c392b6c61a324d27208cf795145f0099c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ffmpegthumbs-17.08.2.tar.xz">ffmpegthumbs-17.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>b6a2fead1e98da13b0e9c0f485eac8fe6d5ea277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/filelight-17.08.2.tar.xz">filelight-17.08.2</a></td>
   <td align="right">635kB</td>
   <td><tt>74603a8689a52e5cfe22b7a3e36f088464edf42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/granatier-17.08.2.tar.xz">granatier-17.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ead555f1cd1de56b3006c6e3128fbcb3ca9b761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/grantlee-editor-17.08.2.tar.xz">grantlee-editor-17.08.2</a></td>
   <td align="right">108kB</td>
   <td><tt>224d81b70359df311719b2e8260482e3b479e10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/grantleetheme-17.08.2.tar.xz">grantleetheme-17.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>e84a890d4dba60b12f883cdd11bfe76c4e363dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/gwenview-17.08.2.tar.xz">gwenview-17.08.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>109683633e75e577d04e243db8ea1a19d410742c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/incidenceeditor-17.08.2.tar.xz">incidenceeditor-17.08.2</a></td>
   <td align="right">506kB</td>
   <td><tt>b9204474a6d5097a2a52639c73ddce08845be6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/jovie-17.08.2.tar.xz">jovie-17.08.2</a></td>
   <td align="right">385kB</td>
   <td><tt>efad8b388bc225ff2ee905956ff85a3b30487a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/juk-17.08.2.tar.xz">juk-17.08.2</a></td>
   <td align="right">435kB</td>
   <td><tt>b67619e3f1a44774809b18f393624d9b8ea7ae37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/k3b-17.08.2.tar.xz">k3b-17.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>934e04ec2ccb6c32cb09ed77982c11f8eae6aca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kaccessible-17.08.2.tar.xz">kaccessible-17.08.2</a></td>
   <td align="right">19kB</td>
   <td><tt>20afddb924160c6b087ee00fd88db206c8bef943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kaccounts-integration-17.08.2.tar.xz">kaccounts-integration-17.08.2</a></td>
   <td align="right">67kB</td>
   <td><tt>c4dadc7a1f412a4f9693b98ce74df2ab5812808d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kaccounts-providers-17.08.2.tar.xz">kaccounts-providers-17.08.2</a></td>
   <td align="right">31kB</td>
   <td><tt>2205c2488d7d6588980cc34be291e8f2a4fb7bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kaddressbook-17.08.2.tar.xz">kaddressbook-17.08.2</a></td>
   <td align="right">533kB</td>
   <td><tt>d9b25966c5c8ae14fa73e8b87ad19f9a6c411956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kajongg-17.08.2.tar.xz">kajongg-17.08.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d3f41825edfd2c44a16f6ae9daaea0d5d4f73db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kalarm-17.08.2.tar.xz">kalarm-17.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a3529930ebc84e91c2a9f57c79d45b160609226f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kalarmcal-17.08.2.tar.xz">kalarmcal-17.08.2</a></td>
   <td align="right">481kB</td>
   <td><tt>1c332b8155ece01622e6a03a36c15fe832fef864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kalgebra-17.08.2.tar.xz">kalgebra-17.08.2</a></td>
   <td align="right">673kB</td>
   <td><tt>7c43f242626978fe3e953ef2d357052a4d1636e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kalzium-17.08.2.tar.xz">kalzium-17.08.2</a></td>
   <td align="right">23MB</td>
   <td><tt>645b47b2bd15c403d3adec5475d20053d1fda304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kamera-17.08.2.tar.xz">kamera-17.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>7a6c19eddde97f1ba16dca933a3bcb7668dab48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kanagram-17.08.2.tar.xz">kanagram-17.08.2</a></td>
   <td align="right">7.2MB</td>
   <td><tt>2e509602ebfb753fcf1eabe7fea5e7d2b988b091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kapman-17.08.2.tar.xz">kapman-17.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>79ff23ac04c1e994767becc3f4cf2a614aa95fdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kapptemplate-17.08.2.tar.xz">kapptemplate-17.08.2</a></td>
   <td align="right">436kB</td>
   <td><tt>87d34051d161ecf505fc270c1ad62cd18b89b297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kate-17.08.2.tar.xz">kate-17.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>adbd15b60b7f061bdea39087414d35c3ead7012a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/katomic-17.08.2.tar.xz">katomic-17.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>22453fcdb5f5e1b71fe6600efe538268f9630220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kblackbox-17.08.2.tar.xz">kblackbox-17.08.2</a></td>
   <td align="right">392kB</td>
   <td><tt>abca0ce5315525086411b6b580587fdbc5a48c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kblocks-17.08.2.tar.xz">kblocks-17.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a57973eacc3272e66d3abf1190c61d98a12dbd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kblog-17.08.2.tar.xz">kblog-17.08.2</a></td>
   <td align="right">70kB</td>
   <td><tt>173b7f312ddc0b5959ba69417ba4efec303ddad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kbounce-17.08.2.tar.xz">kbounce-17.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e0b4e9dd350cf7638312350793524ea19c6c6b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kbreakout-17.08.2.tar.xz">kbreakout-17.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6a81356f91c80bb36300881c0e00a97ffb022843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kbruch-17.08.2.tar.xz">kbruch-17.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>fc3d011d8e9c45e1f8f9d0032fe54d11f2b995b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcachegrind-17.08.2.tar.xz">kcachegrind-17.08.2</a></td>
   <td align="right">794kB</td>
   <td><tt>ef0ad12791b097bfe7764f3806d1091cee41e196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcalc-17.08.2.tar.xz">kcalc-17.08.2</a></td>
   <td align="right">351kB</td>
   <td><tt>c8103f3a77f6c76c7b2f084509334c7ffd0e6fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcalcore-17.08.2.tar.xz">kcalcore-17.08.2</a></td>
   <td align="right">277kB</td>
   <td><tt>543bdc5976dcabc1ce48774a81f4e833e2f788fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcalutils-17.08.2.tar.xz">kcalutils-17.08.2</a></td>
   <td align="right">317kB</td>
   <td><tt>0b397cf9f1ffe86873dd86f326bdd514dca39a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcharselect-17.08.2.tar.xz">kcharselect-17.08.2</a></td>
   <td align="right">342kB</td>
   <td><tt>c90c1bef98aea1f57abccdd423640f17272f8943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcolorchooser-17.08.2.tar.xz">kcolorchooser-17.08.2</a></td>
   <td align="right">15kB</td>
   <td><tt>8ab6ceb9abdf944d19ae1d8f138f5eb33aba05e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcontacts-17.08.2.tar.xz">kcontacts-17.08.2</a></td>
   <td align="right">202kB</td>
   <td><tt>1fa38dbaf36a1d2228ee65c35d338d644c2ce1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kcron-17.08.2.tar.xz">kcron-17.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>925e8516a21e4e452aacbfbdc9cacb046f431aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdav-17.08.2.tar.xz">kdav-17.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>0890363e858ae10944a1e1ac67834b2c61a97af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdebugsettings-17.08.2.tar.xz">kdebugsettings-17.08.2</a></td>
   <td align="right">46kB</td>
   <td><tt>8ca94c702b3a40a404a7bb676b969d0be24bba4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-dev-scripts-17.08.2.tar.xz">kde-dev-scripts-17.08.2</a></td>
   <td align="right">307kB</td>
   <td><tt>9da842b5c61fba6121cd1ef9d680a29c79e19b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-dev-utils-17.08.2.tar.xz">kde-dev-utils-17.08.2</a></td>
   <td align="right">57kB</td>
   <td><tt>d835610cf55d91faa9335cca76cbd16ab001d278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdeedu-data-17.08.2.tar.xz">kdeedu-data-17.08.2</a></td>
   <td align="right">319kB</td>
   <td><tt>f1777e669e4bdcb05a6355eeb2adb5b95ee9b1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdegraphics-mobipocket-17.08.2.tar.xz">kdegraphics-mobipocket-17.08.2</a></td>
   <td align="right">13kB</td>
   <td><tt>962ec9ebf244e1f2363db735993a89acbea7c262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdegraphics-thumbnailers-17.08.2.tar.xz">kdegraphics-thumbnailers-17.08.2</a></td>
   <td align="right">40kB</td>
   <td><tt>30fc3d7c796a952d943f9b597ea84fec6eed96e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdelibs-4.14.37.tar.xz">kdelibs-4.14.37</a></td>
   <td align="right">11MB</td>
   <td><tt>31b9e371835d770d982390f1ec3f34f6e9d92046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdenetwork-filesharing-17.08.2.tar.xz">kdenetwork-filesharing-17.08.2</a></td>
   <td align="right">316kB</td>
   <td><tt>ff391b1b861b4c2784fd924bdccf056fd0f8c908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdenlive-17.08.2.tar.xz">kdenlive-17.08.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>51294164d6b8d13c9bd5e401281f333a03d2721c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdepim-addons-17.08.2.tar.xz">kdepim-addons-17.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>469dbeef7f17d847f92770540c97dab7482f3a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdepim-apps-libs-17.08.2.tar.xz">kdepim-apps-libs-17.08.2</a></td>
   <td align="right">71kB</td>
   <td><tt>4a75b08ab7189df6d61fc8e84ddabda9a36762d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdepim-runtime-17.08.2.tar.xz">kdepim-runtime-17.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>df104bc99d5194524aa773ce1206bacde7c0feab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-runtime-17.08.2.tar.xz">kde-runtime-17.08.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>885386d448eab4b30241f3f6b1938d94e19e5812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdesdk-kioslaves-17.08.2.tar.xz">kdesdk-kioslaves-17.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>d2f63d3e6af6c71cd6055d9a17d4c3edd9a98d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdesdk-thumbnailers-17.08.2.tar.xz">kdesdk-thumbnailers-17.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>81c1d57e85119a0f5c5fb35aeba82f47cfda9b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdf-17.08.2.tar.xz">kdf-17.08.2</a></td>
   <td align="right">518kB</td>
   <td><tt>362a096d62b52bd2d88dc47e046bf023f3a81793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdialog-17.08.2.tar.xz">kdialog-17.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>a65d6fa6f6a9405b284419994c7e752d71a2401d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kdiamond-17.08.2.tar.xz">kdiamond-17.08.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>97bfffc28e41617f4eecc50074598ab159a3ad03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/keditbookmarks-17.08.2.tar.xz">keditbookmarks-17.08.2</a></td>
   <td align="right">178kB</td>
   <td><tt>770f431e16ae2662b8ad7c1af5f95e7f17381bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kfilereplace-17.08.2.tar.xz">kfilereplace-17.08.2</a></td>
   <td align="right">745kB</td>
   <td><tt>302c8fce69c49a9704add044b8ec90615240f7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kfind-17.08.2.tar.xz">kfind-17.08.2</a></td>
   <td align="right">204kB</td>
   <td><tt>759d82148d57de73dc2998f20d2d5f4b7a2a2548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kfloppy-17.08.2.tar.xz">kfloppy-17.08.2</a></td>
   <td align="right">194kB</td>
   <td><tt>8e71cd9e4f3e36268884ecac9b6da0d6b1cfbf15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kfourinline-17.08.2.tar.xz">kfourinline-17.08.2</a></td>
   <td align="right">559kB</td>
   <td><tt>7a7bc2b281f055a16b6bbc2b30403a3407504ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kgeography-17.08.2.tar.xz">kgeography-17.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>8986782cc99d577310ea0cd50df710199a4fe38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kget-17.08.2.tar.xz">kget-17.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a0afca4b3c586e0eee88238bf906120a527736c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kgoldrunner-17.08.2.tar.xz">kgoldrunner-17.08.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>a3a4a73bfa973127145ed6ac031bdec3b7a4fee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kgpg-17.08.2.tar.xz">kgpg-17.08.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5dae23472a2db88ebd2106f5ba6d24343f3733fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/khangman-17.08.2.tar.xz">khangman-17.08.2</a></td>
   <td align="right">6.1MB</td>
   <td><tt>1b574a789ee3c6834ceef3fdc1cd766bd3dc51e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/khelpcenter-17.08.2.tar.xz">khelpcenter-17.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7ddf80a697e8182a944c78ae6858574ad1d76829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kholidays-17.08.2.tar.xz">kholidays-17.08.2</a></td>
   <td align="right">197kB</td>
   <td><tt>baa423e23445df962fb0325ba0b315fcaf898255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kidentitymanagement-17.08.2.tar.xz">kidentitymanagement-17.08.2</a></td>
   <td align="right">144kB</td>
   <td><tt>a5e5ab4e1e4e8620b1acb86c814a4d42d0715be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kig-17.08.2.tar.xz">kig-17.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3e6cec24a0c35da85b497dcfdd69e3890b4d59a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kigo-17.08.2.tar.xz">kigo-17.08.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>070afc928bf2457e3dc4cadd59e95ce1d0589d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/killbots-17.08.2.tar.xz">killbots-17.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0339aee899adfedb30a9bf015d9dd09074aec658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kimagemapeditor-17.08.2.tar.xz">kimagemapeditor-17.08.2</a></td>
   <td align="right">397kB</td>
   <td><tt>5b9694d1427a39e5f245e2fe585fd25804e4f15a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kimap-17.08.2.tar.xz">kimap-17.08.2</a></td>
   <td align="right">117kB</td>
   <td><tt>45c1c0d862479c8687bc7c52106ee7e7d266310d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kio-extras-17.08.2.tar.xz">kio-extras-17.08.2</a></td>
   <td align="right">542kB</td>
   <td><tt>73eeb3ae0738ae304521fc716e4faa7ecb9c541c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kiriki-17.08.2.tar.xz">kiriki-17.08.2</a></td>
   <td align="right">318kB</td>
   <td><tt>2b8451e585e08edaac8726bf6d553c09ed03562d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kiten-17.08.2.tar.xz">kiten-17.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>29a1065570b5bb9045c75e41cd6405f25071e8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kjumpingcube-17.08.2.tar.xz">kjumpingcube-17.08.2</a></td>
   <td align="right">286kB</td>
   <td><tt>e9e86f4729b59e3b84fbc83198f87e72c2302af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kldap-17.08.2.tar.xz">kldap-17.08.2</a></td>
   <td align="right">151kB</td>
   <td><tt>837644505dfae2b667fefd66c97d253dc5bdb565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kleopatra-17.08.2.tar.xz">kleopatra-17.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>47ee115d369ca4c830cbe790589bcfc20b13f6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/klettres-17.08.2.tar.xz">klettres-17.08.2</a></td>
   <td align="right">20MB</td>
   <td><tt>d89bb328dc59c2ccbc403eb4b4b4158951912e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/klickety-17.08.2.tar.xz">klickety-17.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6d46fc4ed82dd7b56ce7ddd16801b66bebafff4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/klines-17.08.2.tar.xz">klines-17.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>98cf55bfc95310fa801a23c4380247363476fb7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/klinkstatus-17.08.2.tar.xz">klinkstatus-17.08.2</a></td>
   <td align="right">439kB</td>
   <td><tt>60956ef2bf95d68ca57abc467ed54c19ffd3abd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmag-17.08.2.tar.xz">kmag-17.08.2</a></td>
   <td align="right">573kB</td>
   <td><tt>3be51353b98becba78ccf876817964f612179d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmahjongg-17.08.2.tar.xz">kmahjongg-17.08.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>e8512d868cf56dfff0bbcce3453a9e7fccfc9bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmail-17.08.2.tar.xz">kmail-17.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>da1fa23cf75083283eecef71111c0e9f40ec016a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmail-account-wizard-17.08.2.tar.xz">kmail-account-wizard-17.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>eeb5c563d8a00c8e725c2e9707c271022acba431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmailtransport-17.08.2.tar.xz">kmailtransport-17.08.2</a></td>
   <td align="right">227kB</td>
   <td><tt>2cf7dfa2c02e04c72d70624336e30f428202df9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmbox-17.08.2.tar.xz">kmbox-17.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>d09d0f7430bfa44cff2d5d9dfa07bf95f8a5e05b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmime-17.08.2.tar.xz">kmime-17.08.2</a></td>
   <td align="right">142kB</td>
   <td><tt>3f87541d38e9516927b5ccb291555af4cd342763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmines-17.08.2.tar.xz">kmines-17.08.2</a></td>
   <td align="right">861kB</td>
   <td><tt>40c8f672efe1dcb8ef77bb510b3666a741c7fe9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmix-17.08.2.tar.xz">kmix-17.08.2</a></td>
   <td align="right">379kB</td>
   <td><tt>1f18d7cfe733246bcd1a0a361bf8b8ac9ed01b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmousetool-17.08.2.tar.xz">kmousetool-17.08.2</a></td>
   <td align="right">108kB</td>
   <td><tt>f32845688fd1e7af6841460d2afe607f8c92ed6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmouth-17.08.2.tar.xz">kmouth-17.08.2</a></td>
   <td align="right">271kB</td>
   <td><tt>2927fc0a7411d0bfbed5ddc4105e758834b35e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kmplot-17.08.2.tar.xz">kmplot-17.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a69b49e8800c09b87eb2941fd4c5c6ed6aa6fa75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/knavalbattle-17.08.2.tar.xz">knavalbattle-17.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>524d620d5d611e38833dfe1da44767fcb98e8b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/knetwalk-17.08.2.tar.xz">knetwalk-17.08.2</a></td>
   <td align="right">958kB</td>
   <td><tt>3ca30f6f85ccd4d128ce2823eb6f437e1e319920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/knotes-17.08.2.tar.xz">knotes-17.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>8d34caedf29fa85f50b572a84733f4a9d93f0a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kolf-17.08.2.tar.xz">kolf-17.08.2</a></td>
   <td align="right">753kB</td>
   <td><tt>2a9e3dcf05a9329b425b2f18b844d74e7a10d395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kollision-17.08.2.tar.xz">kollision-17.08.2</a></td>
   <td align="right">265kB</td>
   <td><tt>f9154aeab539f944cf53b489bc01591b9cb25127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kolourpaint-17.08.2.tar.xz">kolourpaint-17.08.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>70627858cfc62c0d75a27e3c63736c82434a4113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kompare-17.08.2.tar.xz">kompare-17.08.2</a></td>
   <td align="right">693kB</td>
   <td><tt>3fb613a2618d4a2c96c58877d4c9f6bc01e692d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/konqueror-17.08.2.tar.xz">konqueror-17.08.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>1253bdd536e7e2d63d3ed979c1ec3a2dca3d2ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/konquest-17.08.2.tar.xz">konquest-17.08.2</a></td>
   <td align="right">642kB</td>
   <td><tt>8ea56981b33e4ff340ec90d747e82f0f6cc72e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/konsole-17.08.2.tar.xz">konsole-17.08.2</a></td>
   <td align="right">997kB</td>
   <td><tt>ccb7cdfdae199a1ee7f77a95e67a6c5b40a4adc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kontact-17.08.2.tar.xz">kontact-17.08.2</a></td>
   <td align="right">844kB</td>
   <td><tt>70480d882b6987e23fdf50b5054e524dfc331e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kontactinterface-17.08.2.tar.xz">kontactinterface-17.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>9acb325a0b9686c36a7a188e3b65834a44ea9ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kopete-17.08.2.tar.xz">kopete-17.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>961c60a94af9c808d7389dbd09486f38ef065b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/korganizer-17.08.2.tar.xz">korganizer-17.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>05f34abdd8fb3ea662f77344cd6f888ce7125499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kpat-17.08.2.tar.xz">kpat-17.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3ea2359083359081b0665d93edc2b7b64a8a5d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kpimtextedit-17.08.2.tar.xz">kpimtextedit-17.08.2</a></td>
   <td align="right">137kB</td>
   <td><tt>9f749e8eb79dea7969018411dbe879428d6ad914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kppp-17.08.2.tar.xz">kppp-17.08.2</a></td>
   <td align="right">684kB</td>
   <td><tt>3f024fe4e054d174f656d9892343f14dfcd5f9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kqtquickcharts-17.08.2.tar.xz">kqtquickcharts-17.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>baf38320251df0305e8867953390db84f0cd2fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/krdc-17.08.2.tar.xz">krdc-17.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>34b0954905da6fc9c5b29087847f8fee8046ccfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kremotecontrol-17.08.2.tar.xz">kremotecontrol-17.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>14dbe7d93e4c912211393207aa38867d1d8ad814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kreversi-17.08.2.tar.xz">kreversi-17.08.2</a></td>
   <td align="right">887kB</td>
   <td><tt>f5917a821a7cd07c2d9ed220590ac0a9f3603676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/krfb-17.08.2.tar.xz">krfb-17.08.2</a></td>
   <td align="right">967kB</td>
   <td><tt>4fc380d28fe75d5d425df5b11311306466cc0fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kross-interpreters-17.08.2.tar.xz">kross-interpreters-17.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>d7bdf0b4f66af34eb59753953faf9587e6cf838d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kruler-17.08.2.tar.xz">kruler-17.08.2</a></td>
   <td align="right">252kB</td>
   <td><tt>19f5f4d4e832f3722cd1e009eb62f5466a5e85a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksaneplugin-17.08.2.tar.xz">ksaneplugin-17.08.2</a></td>
   <td align="right">12kB</td>
   <td><tt>4a52285f743968b6c23a8e233820e7d8489b9008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kscd-17.08.2.tar.xz">kscd-17.08.2</a></td>
   <td align="right">90kB</td>
   <td><tt>95524393a36f5ae897a7e22110bfbbbf06e49c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kshisen-17.08.2.tar.xz">kshisen-17.08.2</a></td>
   <td align="right">692kB</td>
   <td><tt>b3683a6d2df5f14a77e2318d36183f060be298b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksirk-17.08.2.tar.xz">ksirk-17.08.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>666b394ea46c2932bf30bd69b1cfd29ac6fd023b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksnakeduel-17.08.2.tar.xz">ksnakeduel-17.08.2</a></td>
   <td align="right">591kB</td>
   <td><tt>cfd7eca8596f07aab05494881f364f49a301930d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kspaceduel-17.08.2.tar.xz">kspaceduel-17.08.2</a></td>
   <td align="right">595kB</td>
   <td><tt>67e60b61b40ff69ce7559be0b1f0f4de954af928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksquares-17.08.2.tar.xz">ksquares-17.08.2</a></td>
   <td align="right">210kB</td>
   <td><tt>72c3a4788c4b2c4b0dc728fc501695a8e619e63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kstars-17.08.2.tar.xz">kstars-17.08.2</a></td>
   <td align="right">58MB</td>
   <td><tt>1e11030f81444c72a6fccbf1d19e7561cf994318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksudoku-17.08.2.tar.xz">ksudoku-17.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e23badb878141827b7923b57b3af02afcde589b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ksystemlog-17.08.2.tar.xz">ksystemlog-17.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>98ee4129e946855f832e7cbd272fb683356b42ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kteatime-17.08.2.tar.xz">kteatime-17.08.2</a></td>
   <td align="right">290kB</td>
   <td><tt>ebefed6cc2def99f17db358dd4a1ce43e8b86c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktimer-17.08.2.tar.xz">ktimer-17.08.2</a></td>
   <td align="right">440kB</td>
   <td><tt>7ac480b6de795aa1f317e3159b8948fc00b870fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktnef-17.08.2.tar.xz">ktnef-17.08.2</a></td>
   <td align="right">292kB</td>
   <td><tt>0a40addea475b3e826fba73c903902c59d610987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktouch-17.08.2.tar.xz">ktouch-17.08.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>5921c48f1506a0883f016a5e9c37485f5ccb858b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-accounts-kcm-17.08.2.tar.xz">ktp-accounts-kcm-17.08.2</a></td>
   <td align="right">256kB</td>
   <td><tt>1681a2ae30f76864dc4846e518bbc041ae39a265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-approver-17.08.2.tar.xz">ktp-approver-17.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>65b8ba836b34a358c7f6683d594a01816de765b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-auth-handler-17.08.2.tar.xz">ktp-auth-handler-17.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>57c9bc1b97ac3578b9bf6fc2e4d6cafe4303e920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-call-ui-17.08.2.tar.xz">ktp-call-ui-17.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>6ae228d492b8b86be52321ce399fccace8dd6175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-common-internals-17.08.2.tar.xz">ktp-common-internals-17.08.2</a></td>
   <td align="right">431kB</td>
   <td><tt>8a214bb18b87abe85e69c85b8d19aea67416f9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-contact-list-17.08.2.tar.xz">ktp-contact-list-17.08.2</a></td>
   <td align="right">129kB</td>
   <td><tt>a1f369ffb103e73a913811ec69daa8cbd859a354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-contact-runner-17.08.2.tar.xz">ktp-contact-runner-17.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>8d7d6e684e9becfac52bdc0738bf09e2b4c11149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-desktop-applets-17.08.2.tar.xz">ktp-desktop-applets-17.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>3d88da4ad065d27a7248b8f093d0c0395972640f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-filetransfer-handler-17.08.2.tar.xz">ktp-filetransfer-handler-17.08.2</a></td>
   <td align="right">44kB</td>
   <td><tt>530fc66d525d4df33f172303ef199dfa4f2f89b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-kded-module-17.08.2.tar.xz">ktp-kded-module-17.08.2</a></td>
   <td align="right">79kB</td>
   <td><tt>4956d8d1a85ea48f22afd72420c3e96acea03251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-send-file-17.08.2.tar.xz">ktp-send-file-17.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>dc1201c359c10b1f335ab46991428ea6e5dc0fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktp-text-ui-17.08.2.tar.xz">ktp-text-ui-17.08.2</a></td>
   <td align="right">457kB</td>
   <td><tt>93141223d55ef31420adcc28f4c4ac742325b637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/ktuberling-17.08.2.tar.xz">ktuberling-17.08.2</a></td>
   <td align="right">31MB</td>
   <td><tt>0606af04e3023677abeb1b149312d536229826e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kturtle-17.08.2.tar.xz">kturtle-17.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f192f36e31b094d22b27208f3bf4ce679a21d4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kubrick-17.08.2.tar.xz">kubrick-17.08.2</a></td>
   <td align="right">299kB</td>
   <td><tt>12ecc4e05cf24fddd692567447ae816b95cd38e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kwalletmanager-17.08.2.tar.xz">kwalletmanager-17.08.2</a></td>
   <td align="right">732kB</td>
   <td><tt>5ca1a114f8d44ba5e6bf8dce712e9493169d445d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kwave-17.08.2.tar.xz">kwave-17.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>fad96e383990f1ce9242020e98e5505901dbd953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kwordquiz-17.08.2.tar.xz">kwordquiz-17.08.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>6a8973133da7da6a54d1d98e1b2d8b195c463534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libgravatar-17.08.2.tar.xz">libgravatar-17.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>4774fcfc69df03a2fe48db6d172870e778e9a848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkcddb-17.08.2.tar.xz">libkcddb-17.08.2</a></td>
   <td align="right">413kB</td>
   <td><tt>2f91cdd6ca1417dec02eb0c47b22ceaba297b3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkcompactdisc-17.08.2.tar.xz">libkcompactdisc-17.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>be4eec46999d4152b3e10d4df4ab8e3923df2dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkdcraw-17.08.2.tar.xz">libkdcraw-17.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>084d861293146c2f815f5d389d0a2b3feca52fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkdegames-17.08.2.tar.xz">libkdegames-17.08.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>0d0e164fb2feb3a048b8b1a80f1975afed896bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkdepim-17.08.2.tar.xz">libkdepim-17.08.2</a></td>
   <td align="right">331kB</td>
   <td><tt>75639baa38249bd5cf8f38c073044351f036384e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkeduvocdocument-17.08.2.tar.xz">libkeduvocdocument-17.08.2</a></td>
   <td align="right">204kB</td>
   <td><tt>5e116342db51b8784c9520c4db7c95828920b044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkexiv2-17.08.2.tar.xz">libkexiv2-17.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>fc6a72a443aafabc6e7071affb1c5fb68eabe881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkface-17.08.2.tar.xz">libkface-17.08.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>e868189ef1248d3dd626216e462b45146ecde73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkgapi-17.08.2.tar.xz">libkgapi-17.08.2</a></td>
   <td align="right">171kB</td>
   <td><tt>fded9614f8b87c31eb1005f87ddfe58944841869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkgeomap-17.08.2.tar.xz">libkgeomap-17.08.2</a></td>
   <td align="right">146kB</td>
   <td><tt>3faaaa8dbd4ca740f1558158c2a4c41e5885ba81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkipi-17.08.2.tar.xz">libkipi-17.08.2</a></td>
   <td align="right">101kB</td>
   <td><tt>7f180ed329bd341423a7c5ab43f5c25a7ede96b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkleo-17.08.2.tar.xz">libkleo-17.08.2</a></td>
   <td align="right">284kB</td>
   <td><tt>b32e6ce4a25fb8ed57ac53cf11ad7109a09a8655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkmahjongg-17.08.2.tar.xz">libkmahjongg-17.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a70c4cd3a71f7222d283643b48a34299a4b420b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libkomparediff2-17.08.2.tar.xz">libkomparediff2-17.08.2</a></td>
   <td align="right">172kB</td>
   <td><tt>3eccf9889f9f29851ebfe62ef55d9dd10973902c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libksane-17.08.2.tar.xz">libksane-17.08.2</a></td>
   <td align="right">134kB</td>
   <td><tt>a4c4b5e5d34528866769a9c610b645c990affae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/libksieve-17.08.2.tar.xz">libksieve-17.08.2</a></td>
   <td align="right">532kB</td>
   <td><tt>2ddea73ec4488b340edbd4bd7b0ebcc0df27526d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/lokalize-17.08.2.tar.xz">lokalize-17.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a0ce6d72614440eed3df22d92b8adf0f1e77720e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/lskat-17.08.2.tar.xz">lskat-17.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e3026163e27588e66a1649db35508046db612472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/mailcommon-17.08.2.tar.xz">mailcommon-17.08.2</a></td>
   <td align="right">642kB</td>
   <td><tt>87745138b85ac685125c1378ccac68dcb1783ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/mailimporter-17.08.2.tar.xz">mailimporter-17.08.2</a></td>
   <td align="right">525kB</td>
   <td><tt>8f890640626655db9febb81f98eacb519e1fbc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/marble-17.08.2.tar.xz">marble-17.08.2</a></td>
   <td align="right">49MB</td>
   <td><tt>e52e1e42e0034ff56974c204d440e8e28e5cc8bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/mbox-importer-17.08.2.tar.xz">mbox-importer-17.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>6eb8a1f0adadf68e68cbca43848c995d79f3039e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/messagelib-17.08.2.tar.xz">messagelib-17.08.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>4078f96132b869025427d811601534d604e2ea19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/minuet-17.08.2.tar.xz">minuet-17.08.2</a></td>
   <td align="right">26MB</td>
   <td><tt>66f0b59ce09fa3f0f3927a7b2acd29b94827aea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/okteta-17.08.2.tar.xz">okteta-17.08.2</a></td>
   <td align="right">938kB</td>
   <td><tt>2e14d33f9f227e0ce7251db45fa32ab274ebe6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/okular-17.08.2.tar.xz">okular-17.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>fe468b2a50eeb49c1e4c40235a0ae42c153fd768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/palapeli-17.08.2.tar.xz">palapeli-17.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8a7a34d42cff075e66ab27ccadc7da833dcaae30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/parley-17.08.2.tar.xz">parley-17.08.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>24bf663b35d0942ef7574efe95f520ed6f43a674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/picmi-17.08.2.tar.xz">picmi-17.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>20b50dd70243a51fc7dcee234c98287d08612bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/pimcommon-17.08.2.tar.xz">pimcommon-17.08.2</a></td>
   <td align="right">269kB</td>
   <td><tt>e30ed476ecbd1abfaa779c5d93fa96d41714afe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/pim-data-exporter-17.08.2.tar.xz">pim-data-exporter-17.08.2</a></td>
   <td align="right">260kB</td>
   <td><tt>841cc5cef9ad5440ce03d1a19380d4936292836f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/pim-sieve-editor-17.08.2.tar.xz">pim-sieve-editor-17.08.2</a></td>
   <td align="right">433kB</td>
   <td><tt>d92f429cfbd56f60476d933e28cf820ab65c6825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/poxml-17.08.2.tar.xz">poxml-17.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>caf41cc7fe079edaf2380ad6b169b02bbd1f7368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/print-manager-17.08.2.tar.xz">print-manager-17.08.2</a></td>
   <td align="right">231kB</td>
   <td><tt>ecaaa5f4c97e5ef32d57b06967cc24d1f4c44c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/rocs-17.08.2.tar.xz">rocs-17.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>75ff360a19cdf0f74b206f732997ea16153391db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/signon-kwallet-extension-17.08.2.tar.xz">signon-kwallet-extension-17.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>36874f693a43bb27221904f9857aed4da7eff3fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/spectacle-17.08.2.tar.xz">spectacle-17.08.2</a></td>
   <td align="right">651kB</td>
   <td><tt>e16a43a7e9692955e9b3a509ebf944965547a338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/step-17.08.2.tar.xz">step-17.08.2</a></td>
   <td align="right">839kB</td>
   <td><tt>d9d1e6a2789aa776045c0ea185145104c450956a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/svgpart-17.08.2.tar.xz">svgpart-17.08.2</a></td>
   <td align="right">18kB</td>
   <td><tt>354762c2d9ba980f140772d2bcd8a1f24c519faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/sweeper-17.08.2.tar.xz">sweeper-17.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>c8ac6f2ea7d0df6739c3fda3d2d725665b0bde88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/syndication-17.08.2.tar.xz">syndication-17.08.2</a></td>
   <td align="right">156kB</td>
   <td><tt>13e3ae0f26d1c30c90c47c8c3299e12c138493e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/umbrello-17.08.2.tar.xz">umbrello-17.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ebd1cd69574fa22742099ff6f43adbb6d76a55a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/zeroconf-ioslave-17.08.2.tar.xz">zeroconf-ioslave-17.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>58d023e19efaf7b7376b057e184c4fa5813f649f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ar-17.08.2.tar.xz">kde-l10n-ar-17.08.2</a></td>
   <td align="right">541kB</td>
   <td><tt>122f20412a6ee27eb51e1c85d9bf67844dc84912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ast-17.08.2.tar.xz">kde-l10n-ast-17.08.2</a></td>
   <td align="right">386kB</td>
   <td><tt>d4328c11ceec3761fa187e730541a0f038d5437c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-bg-17.08.2.tar.xz">kde-l10n-bg-17.08.2</a></td>
   <td align="right">471kB</td>
   <td><tt>1ae3c75b7cbe19361f5543a6bec75bdcc813a500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-bs-17.08.2.tar.xz">kde-l10n-bs-17.08.2</a></td>
   <td align="right">549kB</td>
   <td><tt>5a5a56e5cc8a7fd07e835f0a1c04ab42ec63fc42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ca-17.08.2.tar.xz">kde-l10n-ca-17.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>95c4b5ac81111c1f45badce0818f97f4004daf16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ca@valencia-17.08.2.tar.xz">kde-l10n-ca@valencia-17.08.2</a></td>
   <td align="right">528kB</td>
   <td><tt>32066129900885a8126bbad2073036bdbec12dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-cs-17.08.2.tar.xz">kde-l10n-cs-17.08.2</a></td>
   <td align="right">536kB</td>
   <td><tt>7fdca58614534b7e9b8ec0ff410b00d22a4a8f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-da-17.08.2.tar.xz">kde-l10n-da-17.08.2</a></td>
   <td align="right">881kB</td>
   <td><tt>08912d5e0c5afcbda31e5efe0ead9252c8d5d1d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-de-17.08.2.tar.xz">kde-l10n-de-17.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>05fa230ae474e97918f7bde0546ce1af39fb2b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-el-17.08.2.tar.xz">kde-l10n-el-17.08.2</a></td>
   <td align="right">724kB</td>
   <td><tt>5168805c0fcbd4cec08693530352f50ff7f7a5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-en_GB-17.08.2.tar.xz">kde-l10n-en_GB-17.08.2</a></td>
   <td align="right">498kB</td>
   <td><tt>ce0674a698266763825e72925a304dac707b6968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-eo-17.08.2.tar.xz">kde-l10n-eo-17.08.2</a></td>
   <td align="right">482kB</td>
   <td><tt>8b658c21a830f5aca3e57c2261ba0968652ec77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-es-17.08.2.tar.xz">kde-l10n-es-17.08.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a752e363612e9c5a602e5aaac6d51bff0d13e924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-et-17.08.2.tar.xz">kde-l10n-et-17.08.2</a></td>
   <td align="right">820kB</td>
   <td><tt>0b29db4426f97e7257f5a4a894500e836d9d72bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-eu-17.08.2.tar.xz">kde-l10n-eu-17.08.2</a></td>
   <td align="right">541kB</td>
   <td><tt>8d270ff733d61e40ce8b2cc8f8ffc6e0de817443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-fa-17.08.2.tar.xz">kde-l10n-fa-17.08.2</a></td>
   <td align="right">499kB</td>
   <td><tt>b93f3570fa3ebb8f7454d4f24fb20df473c75989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-fi-17.08.2.tar.xz">kde-l10n-fi-17.08.2</a></td>
   <td align="right">602kB</td>
   <td><tt>2c343c0059c94450a294a4c55aad6c40aaaed532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-fr-17.08.2.tar.xz">kde-l10n-fr-17.08.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>17102f569fb0bd850245aa878b3090bb5ad7e565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ga-17.08.2.tar.xz">kde-l10n-ga-17.08.2</a></td>
   <td align="right">528kB</td>
   <td><tt>ae388313154a3e8677dd47cd2da42b43562a557f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-gl-17.08.2.tar.xz">kde-l10n-gl-17.08.2</a></td>
   <td align="right">659kB</td>
   <td><tt>a59cf0cc27e67ad4ea51424b91a1ad0450c14b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-he-17.08.2.tar.xz">kde-l10n-he-17.08.2</a></td>
   <td align="right">481kB</td>
   <td><tt>359a398523043d1c7eed6eb1acc029ba6c518a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-hi-17.08.2.tar.xz">kde-l10n-hi-17.08.2</a></td>
   <td align="right">455kB</td>
   <td><tt>4d65b738f720cccac29d732478fcbae99e58ec69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-hr-17.08.2.tar.xz">kde-l10n-hr-17.08.2</a></td>
   <td align="right">473kB</td>
   <td><tt>c1b79320f85f19be3240a0188a4087118cabd4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-hu-17.08.2.tar.xz">kde-l10n-hu-17.08.2</a></td>
   <td align="right">584kB</td>
   <td><tt>ad5355015cf58886537c1309edfb65fa4eec6d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ia-17.08.2.tar.xz">kde-l10n-ia-17.08.2</a></td>
   <td align="right">468kB</td>
   <td><tt>1f1c0982126f1ed416391a43aa1322620087e1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-id-17.08.2.tar.xz">kde-l10n-id-17.08.2</a></td>
   <td align="right">196kB</td>
   <td><tt>f12edb06e4278e3050da7dd72f4f4dd9afe46c92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-is-17.08.2.tar.xz">kde-l10n-is-17.08.2</a></td>
   <td align="right">468kB</td>
   <td><tt>36014dc69e2830e56569cc39bfcf39a1b926e9dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-it-17.08.2.tar.xz">kde-l10n-it-17.08.2</a></td>
   <td align="right">930kB</td>
   <td><tt>12a1c49db864850222564edb32bda0b7d8c31ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ja-17.08.2.tar.xz">kde-l10n-ja-17.08.2</a></td>
   <td align="right">509kB</td>
   <td><tt>e2bfbca375416611438328c42a8ff9f4fe306f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-kk-17.08.2.tar.xz">kde-l10n-kk-17.08.2</a></td>
   <td align="right">572kB</td>
   <td><tt>fdbfa0e2123bce2d3f45f888460977d0421127c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-km-17.08.2.tar.xz">kde-l10n-km-17.08.2</a></td>
   <td align="right">509kB</td>
   <td><tt>60c66947aa64d00ae1cdedaadf910208c32c3083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ko-17.08.2.tar.xz">kde-l10n-ko-17.08.2</a></td>
   <td align="right">497kB</td>
   <td><tt>a0508428acc1c18598d27d88012b48618d88b145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-lt-17.08.2.tar.xz">kde-l10n-lt-17.08.2</a></td>
   <td align="right">521kB</td>
   <td><tt>e89e39d8367a7a6c50a813cc1d6f57d1065ca87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-lv-17.08.2.tar.xz">kde-l10n-lv-17.08.2</a></td>
   <td align="right">530kB</td>
   <td><tt>5eb7301b79ce426f59306d9ade3f65961bcb3dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-mr-17.08.2.tar.xz">kde-l10n-mr-17.08.2</a></td>
   <td align="right">437kB</td>
   <td><tt>98e2a4fe06e0c7a696c39357e8c559d177b5e193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-nb-17.08.2.tar.xz">kde-l10n-nb-17.08.2</a></td>
   <td align="right">549kB</td>
   <td><tt>d436f52453f8114511518f084f88a50098d78133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-nds-17.08.2.tar.xz">kde-l10n-nds-17.08.2</a></td>
   <td align="right">604kB</td>
   <td><tt>f4d92ae4f3256b90bcb1d9a7b545576028bb6a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-nl-17.08.2.tar.xz">kde-l10n-nl-17.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>24da3019309d23d8f5b00baa4380dc696dbbb1e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-nn-17.08.2.tar.xz">kde-l10n-nn-17.08.2</a></td>
   <td align="right">521kB</td>
   <td><tt>f790bb5b134d56f8e19a8b0895b76937a825ed90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-pa-17.08.2.tar.xz">kde-l10n-pa-17.08.2</a></td>
   <td align="right">454kB</td>
   <td><tt>8c99adaad09b8957ada53afbce26c2cf61a63a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-pl-17.08.2.tar.xz">kde-l10n-pl-17.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bef5e9b878104bb3bdeca31155f1a4371e9385d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-pt-17.08.2.tar.xz">kde-l10n-pt-17.08.2</a></td>
   <td align="right">841kB</td>
   <td><tt>7e49b6717f36868e99c754b622b304bcb59d606f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-pt_BR-17.08.2.tar.xz">kde-l10n-pt_BR-17.08.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>3929a9b8ea0cbe67f81e04f37648df44067570e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ro-17.08.2.tar.xz">kde-l10n-ro-17.08.2</a></td>
   <td align="right">579kB</td>
   <td><tt>16ba56268a8a94901d060ace0613fbde239dc4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ru-17.08.2.tar.xz">kde-l10n-ru-17.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>068e72e1c4830be6c35310ed115d1c32984338c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-sk-17.08.2.tar.xz">kde-l10n-sk-17.08.2</a></td>
   <td align="right">530kB</td>
   <td><tt>031b5414f3b04c40633d1d58ad0786805a7fd282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-sl-17.08.2.tar.xz">kde-l10n-sl-17.08.2</a></td>
   <td align="right">581kB</td>
   <td><tt>f142f2f558ede2233362f7e7e41a2bd876a703ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-sr-17.08.2.tar.xz">kde-l10n-sr-17.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e3150b79e6b9c54f277b5f6e86a1fcb991ab0748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-sv-17.08.2.tar.xz">kde-l10n-sv-17.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1238134ea74a4bee42f3bc6e877769aa50897bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-tr-17.08.2.tar.xz">kde-l10n-tr-17.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a63adc739a5885d1f5f25847304d079961d0f7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-ug-17.08.2.tar.xz">kde-l10n-ug-17.08.2</a></td>
   <td align="right">452kB</td>
   <td><tt>c9674d769133b69a692ceb5c7968249ba25c3931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-uk-17.08.2.tar.xz">kde-l10n-uk-17.08.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>608735a7a85b57676c471f740c5fc701071a9da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-wa-17.08.2.tar.xz">kde-l10n-wa-17.08.2</a></td>
   <td align="right">403kB</td>
   <td><tt>8398aeedcbc614151e711a9cb48ef7690791eab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-zh_CN-17.08.2.tar.xz">kde-l10n-zh_CN-17.08.2</a></td>
   <td align="right">551kB</td>
   <td><tt>236b21a87aa9fd39b95f7b17b58feb819027dd14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.2/src/kde-l10n/kde-l10n-zh_TW-17.08.2.tar.xz">kde-l10n-zh_TW-17.08.2</a></td>
   <td align="right">590kB</td>
   <td><tt>12ee41a73915dd8e9712c07cabc5809d573b0c9b</tt></td>
</tr>

</table>
