<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeaccessibility-4.5.85.tar.bz2">kdeaccessibility-4.5.85</a></td><td align="right">5,0MB</td><td><tt>79150ab1abb2c836121a29597fbae954123bea3e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeadmin-4.5.85.tar.bz2">kdeadmin-4.5.85</a></td><td align="right">776KB</td><td><tt>04c1328df76a594d82574414e5ad632e4b371eef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeartwork-4.5.85.tar.bz2">kdeartwork-4.5.85</a></td><td align="right">106MB</td><td><tt>e9f6268d6c750d5135e79d41427277f7fb3afb2d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdebase-4.5.85.tar.bz2">kdebase-4.5.85</a></td><td align="right">2,6MB</td><td><tt>1429f4f194aaf147683b777e8b6ef7092877b432</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdebase-runtime-4.5.85.tar.bz2">kdebase-runtime-4.5.85</a></td><td align="right">5,8MB</td><td><tt>94fd85ce2c588cf647d874323d373d6f03f6d00b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdebase-workspace-4.5.85.tar.bz2">kdebase-workspace-4.5.85</a></td><td align="right">63MB</td><td><tt>764824dd7d6aaa51d39396de230068e1373a5d71</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdebindings-4.5.85.tar.bz2">kdebindings-4.5.85</a></td><td align="right">6,7MB</td><td><tt>3eefcc71adef0296829523337f15ae735a5dc19d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeedu-4.5.85.tar.bz2">kdeedu-4.5.85</a></td><td align="right">69MB</td><td><tt>c82ea5610c0b5c836ec7dfd4fb49775d6028af19</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdegames-4.5.85.tar.bz2">kdegames-4.5.85</a></td><td align="right">57MB</td><td><tt>7946f6529ba8b4468e12a822b03b642d327a31b6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdegraphics-4.5.85.tar.bz2">kdegraphics-4.5.85</a></td><td align="right">4,9MB</td><td><tt>fdaba56e426662ac65f3d7f60355603f8c4c1b8f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdelibs-4.5.85.tar.bz2">kdelibs-4.5.85</a></td><td align="right">14MB</td><td><tt>d48591373e3d9a3de9ee2bd7940eaf111c04eb98</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdemultimedia-4.5.85.tar.bz2">kdemultimedia-4.5.85</a></td><td align="right">1,6MB</td><td><tt>3085389354b4c93c76c8a5a93f86b67ccf77f7aa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdenetwork-4.5.85.tar.bz2">kdenetwork-4.5.85</a></td><td align="right">8,0MB</td><td><tt>4c2570b918a3fb6f3f86b55647123e79c03e8b20</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdepim-4.5.85.tar.bz2">kdepim-4.5.85</a></td><td align="right">14MB</td><td><tt>37a6fa26d95b18a871ffd294a385d6d14cb36576</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdepimlibs-4.5.85.tar.bz2">kdepimlibs-4.5.85</a></td><td align="right">3,1MB</td><td><tt>550cdfce0351131215d310e3f1d92fce2b780506</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdepim-runtime-4.5.85.tar.bz2">kdepim-runtime-4.5.85</a></td><td align="right">1,2MB</td><td><tt>ac269a2d129d3916502b834d905e7b3d680d443e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeplasma-addons-4.5.85.tar.bz2">kdeplasma-addons-4.5.85</a></td><td align="right">1,8MB</td><td><tt>03ae93b9da420da61c088607ed8d472a35eaa351</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdesdk-4.5.85.tar.bz2">kdesdk-4.5.85</a></td><td align="right">5,9MB</td><td><tt>cdaf596549b40e9189f4705dec166da147d68e8d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdetoys-4.5.85.tar.bz2">kdetoys-4.5.85</a></td><td align="right">396KB</td><td><tt>a1d5dfdeb7c5769c907761e486232e6451e9c49e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdeutils-4.5.85.tar.bz2">kdeutils-4.5.85</a></td><td align="right">3,6MB</td><td><tt>d9142d0ad06d04f81d7776d34c6f63a0d935d9a2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/kdewebdev-4.5.85.tar.bz2">kdewebdev-4.5.85</a></td><td align="right">2,2MB</td><td><tt>58b9d3eff3452447cfd34bdf724cb31dcfd019d0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.5.85/src/oxygen-icons-4.5.85.tar.bz2">oxygen-icons-4.5.85</a></td><td align="right">244MB</td><td><tt>1ee45212b6b00e428f51c4e3cd2084ef1e53d4b8</tt></td></tr>
</table>
