{{ define "main" }}
  
<main class="container">
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item ml-3 mr-5" aria-current="page">
          <a href="/announcements">{{ i18n "announcements" }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
  {{ if .IsTranslated }}
    <h4>{{ i18n "Translations" }}</h4>
    <div class="translation-list">
      {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  {{ end }} 
  <h1>{{ .Title | safeHTML }} </h1>
  {{ .Content }}
  {{ with .Params.changelog  }}
    <a href="../{{ . }}">View full changelog</a>
  {{ end }}
  {{ partial "announcements/plasma-footer.html" }}
</main>
{{ end }}
