<section class="diagonal-box {{ with .Get "color" }}bg-{{ . }}{{ end }} pt-4 pb-5">
  <div class="container content">
    {{ $alt := .Get "alt" }}
    {{ if .Get "logo" }}
      <div class="text-center"><img src="{{ . }}" alt="{{ $alt }}" class="img-fluid"></div>
      {{ .Inner | $.Page.RenderString }}
    {{ else }}
      <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
          {{ with .Get "title" }}
            <h2>{{ . }}</h2>
          {{ end }}
          {{ .Inner | $.Page.RenderString }}
        </div>
        {{ $title := .Get "title" }}
        {{ with .Get "src" }}
          <div class="col-12 col-md-7 col-lg-6 align-self-center mt-4">
            <img src="{{ . }}" alt="{{ $title }}" class="laptop-picture">
          </div>
        {{ end }}
      </div>
      <div>
        {{ with .Get "href" }}
          <a href="{{ . }}" class="learn-more button mt-3 mb-3 d-inline-block">Learn more </a><br />
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
