<div class="laptop-with-overlay d-block my-3 mx-auto" style="max-width: 800px"><img class="laptop img-fluid mt-3" src="/content/plasma-desktop/laptop.png" alt="empty laptop with an overlay"><div class="laptop-overlay"><video controls class="w-100 h-100 mt-3" poster="https://cdn.kde.org/promo/Announcements/Plasma/5.20/Thumbnail.png"><source src="https://cdn.kde.org/promo/Announcements/Plasma/5.20/Video.webm" type="video/webm"><source src="https://cdn.kde.org/promo/Announcements/Plasma/5.20/Video.mp4"></video></div></div>
